/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* === FONT-FACE === */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* === Basic === */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: clamp(6px, calc(6px + (10 - 6) * (100vw - 320px) / (1200 - 320)), 10px);
  scroll-behavior: smooth;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
header, main, footer {
  margin: 0 auto;
  max-width: 1440px;
}
header > *, main > *, footer > * {
  padding-left: clamp(15px, calc(15px + (120 - 15) * (100vw - 1200px) / (1440 - 1200)), 120px);
  padding-right: clamp(15px, calc(15px + (120 - 15) * (100vw - 1200px) / (1440 - 1200)), 120px);
}
@media screen and (max-width: 1200px) {
  header > *, main > *, footer > * {
    padding-left: clamp(15px, calc(15px + (100 - 15) * (100vw - 992px) / (1200 - 992)), 100px);
    padding-right: clamp(15px, calc(15px + (100 - 15) * (100vw - 992px) / (1200 - 992)), 100px);
  }
}
@media screen and (max-width: 992px) {
  header > *, main > *, footer > * {
    padding-left: clamp(15px, calc(15px + (100 - 15) * (100vw - 768px) / (992 - 768)), 100px);
    padding-right: clamp(15px, calc(15px + (100 - 15) * (100vw - 768px) / (992 - 768)), 100px);
  }
}
@media screen and (max-width: 768px) {
  header > *, main > *, footer > * {
    padding-left: clamp(15px, calc(15px + (80 - 15) * (100vw - 576px) / (768 - 576)), 80px);
    padding-right: clamp(15px, calc(15px + (80 - 15) * (100vw - 576px) / (768 - 576)), 80px);
  }
}

/* --- Header --- -------------------- */
.header {
  background: url(../img/index/header-slide-1.jpg) no-repeat center;
  height: 59rem;
}
@media screen and (max-width: 576px) {
  .header {
    background-position-x: right;
  }
}
.header-top {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  position: relative;
  z-index: 99999999999;
}
.header-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__left-menu .burger {
  width: 2.3rem;
  height: 2.3rem;
  display: none;
  background: url(../img/index/header-menu-burger.svg) no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
@media screen and (max-width: 10000px) {
  .header-top__left-menu .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-top__left-menu .nav {
  padding-top: 11.5rem;
  padding-left: 5.7rem;
  padding-right: 30px;
  width: 500px;
  height: 930px;
  background: url(../img/index/header-menu-nav-bg.jpg) no-repeat;
  background-size: cover;
}
@media screen and (max-width: 10000px) {
  .header-top__left-menu .nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header-top__left-menu .nav {
    height: 630px;
  }
}
.header-top__left-menu .nav-list__item {
  margin-bottom: 35px;
}
.header-top__left-menu .nav-list__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 576px) {
  .header-top__left-menu .nav-list__item a {
    font-size: 16px;
    line-height: 20px;
    text-transform: lowercase;
  }
}
.header-top__left-menu .nav-links__item {
  margin-bottom: 25px;
}
.header-top__left-menu .nav-links__item a {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.6;
}
@media screen and (max-width: 576px) {
  .header-top__left-menu .nav-links__item a {
    font-size: 15px;
    line-height: 18px;
    text-transform: lowercase;
  }
}
@media screen and (max-width: 10000px) {
  .header-top__left-menu--mob {
    position: relative;
  }
  .header-top__left-menu--mob .burger {
    position: fixed;
    top: 4.8rem;
    left: 5.7rem;
    z-index: 9999;
    background: url(../img/index/header-menu-burger-close.svg) no-repeat center;
  }
  .header-top__left-menu--mob .nav {
    display: block;
    width: 55%;
    position: fixed;
    top: 0;
    left: 0;
    rigth: 50%;
    z-index: 999;
  }
}
@media screen and (max-width: 10000px) and (max-width: 576px) {
  .header-top__left-menu--mob .nav {
    width: 100%;
  }
}
.header-top__left-geo {
  padding-left: 2.5rem;
  padding-right: 3.5rem;
}
@media screen and (max-width: 576px) {
  .header-top__left-geo {
    display: none;
  }
}
.header-top__left-phone span {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 576px) {
  .header-top__left-phone span {
    display: none;
  }
}
.header-top__left-phone img {
  display: none;
}
@media screen and (max-width: 576px) {
  .header-top__left-phone img {
    margin-left: calc(2.7rem + 8px );
    display: block;
  }
}
.header-top__left-cart {
  display: none;
}
@media screen and (max-width: 576px) {
  .header-top__left-cart {
    margin-left: calc(2.7rem + 8px );
    display: block;
  }
}
.header-top__logo {
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
}
@media screen and (max-width: 992px) {
  .header-top__logo {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .header-top__right {
    display: none;
  }
}
.header-top__right-email {
  margin-left: 2.5rem;
  margin-right: 2.4rem;
}
.header-main {
  padding: 0;
}
.header-main__slider-slides {
  height: 60.7rem;
  overflow: hidden;
  overflow-x: scroll;
  overflow-style: none;
  scrollbar-width: none;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
}
.header-main__slider-slides::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.header-main__slider-slides .slide {
  padding: 0 18.9rem;
  padding-top: 7.7rem;
}
@media screen and (max-width: 768px) {
  .header-main__slider-slides .slide {
    padding: 0 calc(7rem + 16px);
    padding-top: calc(6rem + 14px);
  }
}
@media screen and (max-width: 400px) {
  .header-main__slider-slides .slide {
    padding-top: 20px;
  }
}
.header-main__slider-slides .slide-title {
  max-width: 60rem;
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 4.1rem;
  line-height: 4.8rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .header-main__slider-slides .slide-title {
    max-width: 100%;
    font-size: calc(2.4rem + 6px - 0.64px);
  }
}
.header-main__slider-slides .slide-desc {
  margin-top: 2.4rem;
  margin-bottom: 3.9rem;
  max-width: 60rem;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.3rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .header-main__slider-slides .slide-desc {
    font-size: calc(1.6rem + 4px - 0.42px);
  }
}
.header-main__slider-slides .slide-btn {
  max-width: 16.5rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #C80000;
  border-radius: 2.7rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .header-main__slider-slides .slide-btn {
    font-size: calc(1.1rem + 6px - 0.66px);
  }
}
.header-main__slider-arrows {
  padding: 0 clamp(15px, calc(15px + (120 - 15) * (100vw - 320px) / (1200 - 320)), 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-19.7rem);
      -ms-transform: translateY(-19.7rem);
          transform: translateY(-19.7rem);
}
.header-main__slider-arrows .arrows-prev {
  cursor: pointer;
}
.header-main__slider-arrows .arrows-next {
  cursor: pointer;
}
.header-main__slider-dots {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.2rem;
  -webkit-transform: translate(9px, -23.1rem);
      -ms-transform: translate(9px, -23.1rem);
          transform: translate(9px, -23.1rem);
}
.header-main__slider-dots .dot {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}
.header-main__slider-dots .dot--actived {
  margin: 0 -1.6rem;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  background: #ffffff;
  color: #FFFFFF;
}
.header-main__slider-dots .dot:first-child {
  margin-left: 0 !important;
}
.header-main__slider-dots .dot:last-child {
  margin-right: 0 !important;
}

/* --- Main --- ---------------------- */
.main {
  background: #373737;
}
.main section {
  margin-bottom: 4.9rem;
}
@media screen and (max-width: 768px) {
  .main section {
    padding-left: calc(7rem + 15px);
    padding-right: calc(7rem + 15px);
  }
}
@media screen and (max-width: 480px) {
  .main section {
    padding-left: calc(3rem + 10px);
    padding-right: calc(3rem + 10px);
  }
}
@media screen and (max-width: 400px) {
  .main section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* -- product -- */
.product-categs {
  padding-top: 6rem;
  padding-bottom: 8.8rem;
  padding-left: 9rem;
  padding-right: 9rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 2rem -webkit-max-content 2rem -webkit-max-content 2rem -webkit-max-content;
  -ms-grid-columns: max-content 2rem max-content 2rem max-content 2rem max-content;
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
@media screen and (max-width: 576px) {
  .product-categs {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .product-categs {
    padding-left: 5rem;
    padding-right: 5rem;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.product-categs__item {
  text-align: center;
}
.product-categs__item-pic {
  margin-bottom: 3.1rem;
}
.product-categs__item-name {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #FFFFFF;
  opacity: 0.4;
}
.product-categs__item:hover *:last-child {
  color: #FF0000 !important;
  opacity: 1;
}
.product-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.8rem 1fr 1.8rem 1fr 1.8rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem 1.8rem;
}
@media screen and (max-width: 768px) {
  .product-cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.product-cards .item {
  cursor: pointer;
  aspect-ratio: 286/481;
}
@media screen and (max-width: 1200px) {
  .product-cards .item {
    max-width: 236px;
    max-height: 407px;
  }
}
@media screen and (max-width: 992px) {
  .product-cards .item {
    max-width: 185px;
    max-height: 333px;
  }
}
@media screen and (max-width: 768px) {
  .product-cards .item {
    max-width: 303px;
    max-height: 510px;
  }
}
@media screen and (max-width: 576px) {
  .product-cards .item {
    max-width: 214px;
    max-height: 372px;
  }
}
@media screen and (max-width: 480px) {
  .product-cards .item {
    max-width: 201px;
    max-height: 354px;
  }
}
@media screen and (max-width: 400px) {
  .product-cards .item {
    max-width: 178px;
    max-height: 319px;
  }
}
.product-cards .item:hover .item-pic__add {
  background: #C80000;
}
.product-cards .item .item-pic {
  margin-bottom: 1.1rem;
  aspect-ratio: 286/412;
  border-radius: 1.4rem;
  background: #272727;
  position: relative;
}
.product-cards .item .item-pic img {
  position: absolute;
  bottom: 20%;
}
.product-cards .item .item-pic__add {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1.8rem;
  right: 1.3rem;
}
.product-cards .item .item-pic__add img {
  position: absolute;
  top: 0.5rem;
}
.product-cards .item .item-pic__add img:nth-child(2) {
  display: none;
}
.product-cards .item .item-pic__add:hover, .product-cards .item .item-pic__add--active {
  width: 7.2rem;
  border-radius: 1.8rem;
}
.product-cards .item .item-pic__add:hover img:nth-child(1), .product-cards .item .item-pic__add--active img:nth-child(1) {
  left: 1.2rem;
}
.product-cards .item .item-pic__add:hover img:nth-child(2), .product-cards .item .item-pic__add--active img:nth-child(2) {
  right: 1.3rem;
  display: block;
}
.product-cards .item .item-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[2];
  -ms-grid-columns: (max-content)[2];
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
      grid-template-areas: "name name" "price latest";
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  .product-cards .item .item-info {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.product-cards .item .item-info__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  font-weight: 500;
}
.product-cards .item .item-info__price {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: price;
  opacity: 0.5;
}
.product-cards .item .item-info__latest {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: latest;
  color: #FF3232;
}
.product-cards .explore {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding-bottom: 2.8rem;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  aspect-ratio: 590/481;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .product-cards .explore {
    max-width: 490px;
    max-height: 407px;
  }
}
@media screen and (max-width: 992px) {
  .product-cards .explore {
    max-width: 387px;
    max-height: 333px;
  }
}
@media screen and (max-width: 768px) {
  .product-cards .explore {
    max-width: 621px;
    max-height: 510px;
  }
}
@media screen and (max-width: 576px) {
  .product-cards .explore {
    max-width: 441px;
    max-height: 372px;
  }
}
@media screen and (max-width: 480px) {
  .product-cards .explore {
    max-width: 415px;
    max-height: 354px;
  }
}
@media screen and (max-width: 400px) {
  .product-cards .explore {
    max-width: 368px;
    max-height: 319px;
  }
}
.product-cards .explore .item-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.product-cards .explore .item-pic img {
  position: static;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-cards .explore .item-info {
  width: 100%;
  display: inline-block;
  z-index: 11;
}
.product-cards .explore .item-info__name {
  padding-right: 5rem;
  width: 100%;
  display: inline-block;
  background: url(../img/index/product-cards-item-explore-arrow.svg) no-repeat center right;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .product-cards .explore .item-info__name {
    display: inline;
  }
}
@media screen and (max-width: 768px) {
  .product-cards .explore .item-info__name {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 576px) {
  .product-cards .explore .item-info__name {
    display: inline;
  }
}
.product-cards .instagram {
  position: relative;
}
.product-cards .instagram .item-pic {
  width: 100%;
  position: absolute;
  inset: 0;
}
.product-cards .instagram .item-pic img {
  position: static;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-cards .instagram .item-info {
  padding-left: 4.1rem;
  background: url(../img/index/product-cards-item-instagram-name.svg) no-repeat center left;
  position: absolute;
  top: 3.7rem;
  right: 3.1rem;
}
@media screen and (max-width: 768px) {
  .product-cards .instagram .item-info {
    padding-left: 35px;
  }
}
.product-cards .instagram .item-info__name {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .product-cards .instagram .item-info__name {
    font-size: 17;
    line-height: 28px;
  }
}

/* -- subscription -- */
.subscription {
  padding-bottom: 6.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.subscription-title {
  margin-bottom: 1.7rem;
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .subscription-title {
    font-size: 2.7rem;
    line-height: 4.2rem;
  }
}
.subscription-form {
  margin: 0 auto;
  margin-bottom: 4.9rem;
  width: 27.6rem;
  height: 5.9rem;
  border-radius: 0.6rem;
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscription-form input[type=email] {
  padding-left: 2.6rem;
  border: 0;
  background: #272727;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}
.subscription-form input[type=email]::-webkit-input-placeholder {
  opacity: 0.5;
}
.subscription-form input[type=email]::-moz-placeholder {
  opacity: 0.5;
}
.subscription-form input[type=email]:-ms-input-placeholder {
  opacity: 0.5;
}
.subscription-form input[type=email]::-ms-input-placeholder {
  opacity: 0.5;
}
.subscription-form input[type=email]::placeholder {
  opacity: 0.5;
}
.subscription-form input[type=submit] {
  width: 7.5rem;
  height: 100%;
  border: 0;
  background: url(../img/index/subscription-submit.svg) no-repeat center, transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscription-form input[type=submit]:hover {
  opacity: 0.8;
}
.subscription-newproducts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.8rem 1fr 1.8rem 1fr 1.8rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem 1.8rem;
}
@media screen and (max-width: 768px) {
  .subscription-newproducts {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.subscription-newproducts .item {
  cursor: pointer;
  aspect-ratio: 286/481;
}
@media screen and (max-width: 1200px) {
  .subscription-newproducts .item {
    max-width: 236px;
    max-height: 407px;
  }
}
@media screen and (max-width: 992px) {
  .subscription-newproducts .item {
    max-width: 185px;
    max-height: 333px;
  }
}
@media screen and (max-width: 768px) {
  .subscription-newproducts .item {
    max-width: 303px;
    max-height: 510px;
  }
}
@media screen and (max-width: 576px) {
  .subscription-newproducts .item {
    max-width: 214px;
    max-height: 372px;
  }
}
@media screen and (max-width: 480px) {
  .subscription-newproducts .item {
    max-width: 201px;
    max-height: 354px;
  }
}
@media screen and (max-width: 400px) {
  .subscription-newproducts .item {
    max-width: 178px;
    max-height: 319px;
  }
}
.subscription-newproducts .item:hover .item-pic__add {
  background: #C80000;
}
.subscription-newproducts .item .item-pic {
  margin-bottom: 1.1rem;
  aspect-ratio: 286/412;
  border-radius: 1.4rem;
  background: #272727;
  position: relative;
}
.subscription-newproducts .item .item-pic img {
  position: absolute;
  bottom: 20%;
}
.subscription-newproducts .item .item-pic__add {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1.8rem;
  right: 1.3rem;
}
.subscription-newproducts .item .item-pic__add img {
  position: absolute;
  top: 0.5rem;
}
.subscription-newproducts .item .item-pic__add img:nth-child(2) {
  display: none;
}
.subscription-newproducts .item .item-pic__add:hover, .subscription-newproducts .item .item-pic__add--active {
  width: 7.2rem;
  border-radius: 1.8rem;
}
.subscription-newproducts .item .item-pic__add:hover img:nth-child(1), .subscription-newproducts .item .item-pic__add--active img:nth-child(1) {
  left: 1.2rem;
}
.subscription-newproducts .item .item-pic__add:hover img:nth-child(2), .subscription-newproducts .item .item-pic__add--active img:nth-child(2) {
  right: 1.3rem;
  display: block;
}
.subscription-newproducts .item .item-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[2];
  -ms-grid-columns: (max-content)[2];
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
      grid-template-areas: "name name" "price latest";
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  .subscription-newproducts .item .item-info {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.subscription-newproducts .item .item-info__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  font-weight: 500;
}
.subscription-newproducts .item .item-info__price {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: price;
  opacity: 0.5;
}
.subscription-newproducts .item .item-info__latest {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: latest;
  color: #FF3232;
}
/* -- newandpopular -- */
.newandpopular {
  padding-top: 1rem;
  padding-bottom: 6.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.newandpopular-tabs {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5.3rem;
     -moz-column-gap: 5.3rem;
          column-gap: 5.3rem;
}
.newandpopular-tabs__item {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 4.2rem;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  opacity: 0.5;
}
.newandpopular-tabs__item--active {
  opacity: 1;
  position: relative;
}
.newandpopular-tabs__item--active:after {
  content: "";
  width: 9.4rem;
  width: 100%;
  height: 2px;
  display: block;
  background: #C80000;
  position: absolute;
  bottom: 7px;
  left: 0;
}
.newandpopular-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.8rem 1fr 1.8rem 1fr 1.8rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem 1.8rem;
}
@media screen and (max-width: 768px) {
  .newandpopular-products {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.newandpopular-products .item {
  cursor: pointer;
  aspect-ratio: 286/481;
}
@media screen and (max-width: 1200px) {
  .newandpopular-products .item {
    max-width: 236px;
    max-height: 407px;
  }
}
@media screen and (max-width: 992px) {
  .newandpopular-products .item {
    max-width: 185px;
    max-height: 333px;
  }
}
@media screen and (max-width: 768px) {
  .newandpopular-products .item {
    max-width: 303px;
    max-height: 510px;
  }
}
@media screen and (max-width: 576px) {
  .newandpopular-products .item {
    max-width: 214px;
    max-height: 372px;
  }
}
@media screen and (max-width: 480px) {
  .newandpopular-products .item {
    max-width: 201px;
    max-height: 354px;
  }
}
@media screen and (max-width: 400px) {
  .newandpopular-products .item {
    max-width: 178px;
    max-height: 319px;
  }
}
.newandpopular-products .item:hover .item-pic__add {
  background: #C80000;
}
.newandpopular-products .item .item-pic {
  margin-bottom: 1.1rem;
  aspect-ratio: 286/412;
  border-radius: 1.4rem;
  background: #272727;
  position: relative;
}
.newandpopular-products .item .item-pic img {
  position: absolute;
  bottom: 20%;
}
.newandpopular-products .item .item-pic__add {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1.8rem;
  right: 1.3rem;
}
.newandpopular-products .item .item-pic__add img {
  position: absolute;
  top: 0.5rem;
}
.newandpopular-products .item .item-pic__add img:nth-child(2) {
  display: none;
}
.newandpopular-products .item .item-pic__add:hover, .newandpopular-products .item .item-pic__add--active {
  width: 7.2rem;
  border-radius: 1.8rem;
}
.newandpopular-products .item .item-pic__add:hover img:nth-child(1), .newandpopular-products .item .item-pic__add--active img:nth-child(1) {
  left: 1.2rem;
}
.newandpopular-products .item .item-pic__add:hover img:nth-child(2), .newandpopular-products .item .item-pic__add--active img:nth-child(2) {
  right: 1.3rem;
  display: block;
}
.newandpopular-products .item .item-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[2];
  -ms-grid-columns: (max-content)[2];
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
      grid-template-areas: "name name" "price latest";
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  .newandpopular-products .item .item-info {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.newandpopular-products .item .item-info__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  font-weight: 500;
}
.newandpopular-products .item .item-info__price {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: price;
  opacity: 0.5;
}
.newandpopular-products .item .item-info__latest {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: latest;
  color: #FF3232;
}
/* -- description -- */
.description {
  padding-top: 1rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.description-top {
  margin-bottom: 3.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8rem;
     -moz-column-gap: 8rem;
          column-gap: 8rem;
}
@media screen and (max-width: 768px) {
  .description-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  .description-top {
    display: block;
  }
}
.description-top__pic {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.description-top__info-title {
  margin-bottom: 5.1rem;
  max-width: 580px;
  font-family: Jura;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.2rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .description-top__info-title {
    padding-top: 70px;
  }
}
.description-top__info-desc {
  max-width: 672px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .description-top__info-desc {
    font-size: calc(1.4rem + 2.79px);
    line-height: 1.4;
  }
}
.description-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 8rem;
     -moz-column-gap: 8rem;
          column-gap: 8rem;
}
@media screen and (max-width: 768px) {
  .description-bottom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "info pic";
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  .description-bottom {
    display: block;
  }
}
.description-bottom__pic {
  grid-area: pic;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.description-bottom__info {
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (max-width: 768px){
  .description-bottom__pic {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .description-bottom__info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .description-bottom__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.description-bottom__info-title {
  margin-top: 1.3rem;
  max-width: 700px;
  font-family: Jura;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .description-bottom__info-title {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 576px) {
  .description-bottom__info-title {
    padding-top: 70px;
  }
}
.description-bottom__info-desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .description-bottom__info-desc {
    font-size: calc(1.4rem + 2.79px);
    line-height: 1.4;
  }
}
.description-bottom__info-desc p {
  margin-bottom: 2.7rem;
}

/* -- aboutknives -- */
.aboutknives {
  padding-top: 1rem;
  padding-bottom: 6rem;
}
.aboutknives-title {
  margin-bottom: 3.7rem;
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.1rem;
  color: #FFFFFF;
}
.aboutknives-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.8rem 1fr 2.8rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8rem;
}
@media screen and (max-width: 768px) {
  .aboutknives-articles {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.aboutknives-articles__item {
  aspect-ratio: 380/465;
  border-radius: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 768px) {
  .aboutknives-articles__item {
    aspect-ratio: 630/465;
  }
}
.aboutknives-articles__item:hover {
  cursor: pointer;
}
.aboutknives-articles__item:hover > *:last-of-type {
  border-radius: 0px 0px 1.4rem 1.4rem;
  background: #C80000;
}
.aboutknives-articles__item-pic {
  position: absolute;
  width: 100%;
  height: 100%;
}
.aboutknives-articles__item-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutknives-articles__item-date {
  padding-top: 2.3rem;
  padding-right: 2.5em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
.aboutknives-articles__item-title {
  padding: 3.3rem;
  padding-top: 1.3rem;
  padding-bottom: 2.2rem;
  min-height: 8.3rem;
  position: relative;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}

/* --- Footer --- -------------------- */
.footer {
  margin-top: -5rem;
}
.footer-main {
  padding-top: 4.5rem;
  padding-bottom: 3.5rem;
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer-main {
    padding-bottom: 6rem;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer-main > * {
    width: auto !important;
  }
}
.footer-main__descrip {
  width: 38rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19.4rem 2.6rem auto;
  grid-template-columns: 19.4rem auto;
  -ms-grid-rows: auto 2.9rem auto;
      grid-template-areas: "logo text" "desc desc";
  gap: 2.9rem 2.6rem;
}
.footer-main__descrip-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}
.footer-main__descrip-text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: text;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #FFFFFF;
}
.footer-main__descrip-desc {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: desc;
}
.footer-main__descrip-desc p {
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer-main__descrip-desc p {
    font-size: calc(1.3rem + 4px);
  }
}
.footer-main__links {
  margin-left: 7.7rem;
  margin-right: 6.2rem;
  width: 42.3rem;
}
@media screen and (max-width: 768px) {
  .footer-main__links {
    margin: 0;
  }
}
.footer-main__links-info .title {
  margin-bottom: 1.4rem;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer-main__links-info .title {
    font-size: calc(1.7rem + 4px);
  }
}
.footer-main__links-info .links {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .footer-main__links-info .links {
    font-size: calc(1.3rem + 4px);
  }
}
.footer-main__links-info .links a {
  margin-right: 3rem;
  color: #FFFFFF;
}
.footer-main__links-cat {
  margin-top: 3.4rem;
  margin-bottom: 5.7rem;
}
.footer-main__links-cat .title {
  margin-bottom: 1.4rem;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer-main__links-cat .title {
    font-size: calc(1.7rem + 4px);
  }
}
.footer-main__links-cat .links {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .footer-main__links-cat .links {
    font-size: calc(1.3rem + 4px);
  }
}
.footer-main__links-cat .links a {
  margin-right: 3rem;
  color: #FFFFFF;
}
.footer-main__links-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.3rem;
     -moz-column-gap: 2.3rem;
          column-gap: 2.3rem;
}
.footer-main__links-socials .title {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer-main__links-socials .title {
    font-size: calc(1.7rem + 4px);
  }
}
.footer-main__links-socials .links a {
  margin-right: 0, 7rem;
}
.footer-main__contacts {
  width: 28rem;
}
@media screen and (max-width: 768px) {
  .footer-main__contacts {
    margin-top: 39px;
  }
}
.footer-main__contacts-title {
  margin-bottom: 1.4rem;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer-main__contacts-title {
    font-size: calc(1.7rem + 4px);
  }
}
.footer-main__contacts-info {
  margin-top: 2.3em;
  margin-bottom: 3.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer-main__contacts-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 3rem auto 3rem auto 3rem auto;
    grid-template-columns: repeat(4, auto);
        grid-template-areas: "phone email place time";
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 576px) {
  .footer-main__contacts-info {
        grid-template-areas: "phone email" "place time";
  }
}
.footer-main__contacts-info .phone {
  grid-area: phone;
  margin-bottom: 0.9rem;
  display: block;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
.footer-main__contacts-info .email {
  grid-area: email;
  margin-bottom: 3rem;
  display: block;
  color: #FFFFFF;
}
.footer-main__contacts-info .time {
  grid-area: time;
  margin-bottom: 1.8em;
}
.footer-main__contacts-info .place {
  grid-area: place;
  width: 19.6rem;
}
@media screen and (max-width: 768px){
  .footer-main__contacts-info .phone {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer-main__contacts-info .email {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer-main__contacts-info .time {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .footer-main__contacts-info .place {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}
@media screen and (max-width: 576px){
  .footer-main__contacts-info .phone {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer-main__contacts-info .email {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer-main__contacts-info .time {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .footer-main__contacts-info .place {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
.footer-bottom {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .footer-bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 480px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer-bottom__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.5;
}
@media screen and (max-width: 480px) {
  .footer-bottom__text {
    margin-bottom: 30px;
  }
}
.footer-bottom__pic {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
