<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/404_style.css")
        title 404
    body
        div#site
            .wrapper 
                .wrapper__pic: img(src="./img/404/404.png" alt="")
                .wrapper__title Уууупс, страница не найдена!
                a.wrapper__btn(href="catalog.html") Вернуться в каталог

            
            
            
            
            