<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/confirmorder_style.css")
        title Подтверждение заказ
    body
        div#site
             
 
            .wrapper
                .wrapper__title Оформить заказ
                .wrapper__items 
                    .wrapper__item
                        .wrapper__pic: img(src="./img/catalog/products-img-1.jpg" alt="") 
                        .wrapper__info 
                            .wrapper__info-name Рифлёная новая силиконовая скатерть 1,5 мм
                            .wrapper__info-specs размер 80 на 60 см
                            .wrapper__info-price 740 руб 
                    .wrapper__item
                        .wrapper__pic: img(src="./img/catalog/products-img-1.jpg" alt="") 
                        .wrapper__info 
                            .wrapper__info-name Рифлёная новая силиконовая скатерть 1,5 мм
                            .wrapper__info-specs размер 80 на 60 см
                            .wrapper__info-price 740 руб 
                    .wrapper__button Подтвердить заказ 


                
            
            
            
            
            