<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/login_style.css")
        title Вход
    body
        div#site
             
 


            .wrapper
                .wrapper__title Вход 
                form.wrapper__form(action="index.html")
                    .wrapper__form-title Ваш e-mail 
                    input(type="text" value="" placeholder="email@gmail.com")
                    .wrapper__form-title Пароль
                    input(type="password" value="" placeholder="123456789")
                    .wrapper__form-passremember Забыли пароль?
                    input(type="submit" value="Войти")
            
            
            
            
            