<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/quickorder_style.css")
        title Быстрый заказ
    body
        div#site
             

            .wrapper
                .wrapper__title Быстрый заказ 
                .wrapper__info
                    .wrapper__info-pic: img(src="./img/quickorder/pic-1.jpg" alt="")
                    .wrapper__info-text
                        .wrapper__info-title Рифлёная новая силиконовая скатерть 1,5 мм
                        .wrapper__info-specs размер 80 на 60 см
                        .wrapper__info-price 740 руб 
                
                form.wrapper__form(action="index.html")
                    .wrapper__form-title Ваше имя*
                    input(type="text" value="" placeholder="Петр")
                    .wrapper__form-title Номер телефон*
                    input(type="text" value="" placeholder="+7 (888) 000-00-00")
                    .wrapper__form-title Комментарий к заказу
                    textarea(name="" value="" placeholder="Введите сообщение")
                    a.wrapper__form-iagree(href="") Нажимая на кнопку “заказать”, я даю согласие <br/> на обработку персональных данных
                    input(type="submit" value="Заказать")
   
            


            
            
            