<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/login_style.css")
        title Регистрация
    body
        div#site
             


            .wrapper
                .wrapper__title Регистрация 
                form.wrapper__form(action="index.html")
                    .wrapper__form-title Ваше имя 
                    input(type="text" value="" placeholder="Петр")
                    .wrapper__form-title E-mail
                    input(type="text" value="" placeholder="mail-email@gmail.com")
                    .wrapper__form-title Телефон
                    input(type="text" value="" placeholder="+7 999 666 44 22")
                    .wrapper__form-title Придумайте пароль
                    input(type="password" value="" placeholder="*******************")
                    input(type="submit" value="Зарегистрироваться")
            
            
            
            
            