<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/responseorder_style.css")
        title Ответ на заявку
    body
        div#site
             
 
            .wrapper
                .wrapper__pic
                .wrapper__text Спасибо за ваш выбор! <br/>Номер вашего заказа <br/>№6484318
                


                
            
            
            
            
            