@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-MediumItalic.eot");
  src: local("Graphik LCG Medium Italic"), local("GraphikLCG-MediumItalic"), url("../fonts/GraphikLCG-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-MediumItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-MediumItalic.woff") format("woff"), url("../fonts/GraphikLCG-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-SuperItalic.eot");
  src: local("Graphik LCG Super Italic"), local("GraphikLCG-SuperItalic"), url("../fonts/GraphikLCG-SuperItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-SuperItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-SuperItalic.woff") format("woff"), url("../fonts/GraphikLCG-SuperItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-SemiboldItalic.eot");
  src: local("Graphik LCG Semibold Italic"), local("GraphikLCG-SemiboldItalic"), url("../fonts/GraphikLCG-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-SemiboldItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-SemiboldItalic.woff") format("woff"), url("../fonts/GraphikLCG-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Black.eot");
  src: local("Graphik LCG Black"), local("GraphikLCG-Black"), url("../fonts/GraphikLCG-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Black.woff2") format("woff2"), url("../fonts/GraphikLCG-Black.woff") format("woff"), url("../fonts/GraphikLCG-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Super.eot");
  src: local("Graphik LCG Super"), local("GraphikLCG-Super"), url("../fonts/GraphikLCG-Super.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Super.woff2") format("woff2"), url("../fonts/GraphikLCG-Super.woff") format("woff"), url("../fonts/GraphikLCG-Super.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Thin.eot");
  src: local("Graphik LCG Thin"), local("GraphikLCG-Thin"), url("../fonts/GraphikLCG-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Thin.woff2") format("woff2"), url("../fonts/GraphikLCG-Thin.woff") format("woff"), url("../fonts/GraphikLCG-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-ExtralightItalic.eot");
  src: local("Graphik LCG Extralight Italic"), local("GraphikLCG-ExtralightItalic"), url("../fonts/GraphikLCG-ExtralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-ExtralightItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-ExtralightItalic.woff") format("woff"), url("../fonts/GraphikLCG-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"), url("../fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-BoldItalic.eot");
  src: local("Graphik LCG Bold Italic"), local("GraphikLCG-BoldItalic"), url("../fonts/GraphikLCG-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-BoldItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-BoldItalic.woff") format("woff"), url("../fonts/GraphikLCG-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-LightItalic.eot");
  src: local("Graphik LCG Light Italic"), local("GraphikLCG-LightItalic"), url("../fonts/GraphikLCG-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-LightItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-LightItalic.woff") format("woff"), url("../fonts/GraphikLCG-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-BlackItalic.eot");
  src: local("Graphik LCG Black Italic"), local("GraphikLCG-BlackItalic"), url("../fonts/GraphikLCG-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-BlackItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-BlackItalic.woff") format("woff"), url("../fonts/GraphikLCG-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.eot");
  src: local("Graphik LCG Medium"), local("GraphikLCG-Medium"), url("../fonts/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Light.eot");
  src: local("Graphik LCG Light"), local("GraphikLCG-Light"), url("../fonts/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Light.woff2") format("woff2"), url("../fonts/GraphikLCG-Light.woff") format("woff"), url("../fonts/GraphikLCG-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Semibold.eot");
  src: local("Graphik LCG Semibold"), local("GraphikLCG-Semibold"), url("../fonts/GraphikLCG-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Bold.eot");
  src: local("Graphik LCG Bold"), local("GraphikLCG-Bold"), url("../fonts/GraphikLCG-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff"), url("../fonts/GraphikLCG-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Extralight.eot");
  src: local("Graphik LCG Extralight"), local("GraphikLCG-Extralight"), url("../fonts/GraphikLCG-Extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Extralight.woff2") format("woff2"), url("../fonts/GraphikLCG-Extralight.woff") format("woff"), url("../fonts/GraphikLCG-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-ThinItalic.eot");
  src: local("Graphik LCG Thin Italic"), local("GraphikLCG-ThinItalic"), url("../fonts/GraphikLCG-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-ThinItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-ThinItalic.woff") format("woff"), url("../fonts/GraphikLCG-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-RegularItalic.eot");
  src: local("Graphik LCG Regular Italic"), local("GraphikLCG-RegularItalic"), url("../fonts/GraphikLCG-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-RegularItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-RegularItalic.woff") format("woff"), url("../fonts/GraphikLCG-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: Graphik LCG, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

header > *, main > *, footer > * {
  margin: 0 auto;
  padding: 0 clamp(15px, calc(15px + (375 - 15) * (100vw - 1170px) / (1920 - 1170)), 375px);
  max-width: 1920px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: clamp(300px, calc(300px + (370 - 300) * (100vw - 375px) / (768 - 375)), 370px);
  }
}
.header-top {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__logo {
  flex-shrink: 0;
}
.header-top__menu {
  flex-grow: 1;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  color: #000000;
  justify-content: flex-end;
}
@media screen and (max-width: 992px) {
  .header-top__menu {
    margin-left: 20px;
    order: 3;
    flex-grow: 0;
  }
}
.header-top__menu-burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .header-top__menu-burger {
    padding: 10px 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #5D3DE3;
  }
}
.header-top__menu-burger span {
  display: block;
  height: 2px;
  background: #ffffff;
}
.header-top__menu-burger--close {
  justify-content: center;
}
.header-top__menu-burger--close span:nth-child(1) {
  margin-bottom: -2px;
  transform: rotate(45deg);
  transform-origin: center;
}
.header-top__menu-burger--close span:nth-child(2) {
  display: none;
}
.header-top__menu-burger--close span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: center;
}
.header-top__menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .header-top__menu-list {
    display: none;
  }
}
.header-top__menu-list li:not(last-child) {
  margin-right: 35px;
}
.header-top__menu-list li a {
  color: #000000;
}
.header-top__menu-list--mob {
  padding: 30px;
  width: clamp(320px, calc(320px + (375 - 320) * (100vw - 320px) / (375 - 320)), 375px);
  display: block;
  position: absolute;
  top: 100px;
  right: 10px;
  background: #5D3DE3;
}
.header-top__menu-list--mob li {
  margin-bottom: 15px;
}
.header-top__menu-list--mob li a {
  color: #ffffff;
}
.header-top__buttons {
  margin-left: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-top__buttons > * {
  width: max-content;
}
@media screen and (max-width: 992px) {
  .header-top__buttons {
    flex-grow: 1;
  }
}
@media screen and (max-width: 576px) {
  .header-top__buttons {
    display: none;
  }
}
.header-top__buttons-telegram {
  padding: 10px;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}
.header-top__buttons-allcource {
  margin-left: 15px;
  padding: 10px 25px;
  border-radius: 6px;
  background: #FFD700;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.header {
  padding-bottom: 0;
}
.header-main {
  display: grid;
  grid-template-columns: auto clamp(850px, calc(850px + (1050 - 850) * (100vw - 1200px) / (1920 - 1200)), 1050px);
  align-items: end;
  background: url(../img/contacts/bg.svg) no-repeat center top 40px;
}
@media screen and (max-width: 768px) {
  .header-main {
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-columns: auto;
    align-items: start;
    background: none;
  }
}
.header-main__info {
  transform: translateY(-60px);
}
@media screen and (max-width: 768px) {
  .header-main__info {
    transform: translateY(0);
  }
}
.header-main__info h1 {
  margin-bottom: clamp(30px, calc(30px + (90 - 30) * (100vw - 1200px) / (1920 - 1200)), 90px);
  font-weight: bold;
  font-size: clamp(48px, calc(48px + (80 - 48) * (100vw - 375px) / (1920 - 375)), 80px);
  line-height: 1.1;
  color: #000000;
}
.header-main__info-items {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: clamp(20px, calc(20px + (60 - 20) * (100vw - 1200px) / (1920 - 1200)), 60px);
}
@media screen and (max-width: 1200px) {
  .header-main__info-items {
    grid-template-columns: max-content;
  }
}
@media screen and (max-width: 768px) {
  .header-main__info-items {
    grid-gap: 50px;
  }
}
.header-main__info-items dl dt {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
}
.header-main__info-items dl dd {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
}
.header-main__info-items dl dd a {
  color: #000000;
}
.header-main__info-items .socials a {
  margin-right: 20px;
  display: inline-block;
}
.header-main__info-items .socials a img {
  filter: grayscale(100%);
}
.header-main__info-items .socials a img:hover {
  filter: grayscale(0);
}
.header-main__pic {
  transform: translateX(clamp(-150px, calc(-150px + (-100 - -150) * (100vw - 1200px) / (1920 - 1200)), -100px));
}
@media screen and (max-width: 1200px) {
  .header-main__pic {
    transform: translateX(clamp(-150px, calc(-150px + (0 - -150) * (100vw - 768px) / (1200 - 768)), 0px));
  }
}
@media screen and (max-width: 768px) {
  .header-main__pic {
    margin-bottom: 40px;
    order: -1;
    transform: translate(0);
  }
}
.header-main__pic img {
  width: 1050px;
  height: 500px;
  object-fit: cover;
  object-position: center bottom;
  transform: scale(0.87);
  transform-origin: bottom center;
}
@media screen and (max-width: 768px) {
  .header-main__pic img {
    transform: scale(1.1);
    height: auto;
  }
}

section.callback {
  padding-top: clamp(55px, calc(55px + (130 - 55) * (100vw - 375px) / (1170 - 375)), 130px);
  padding-bottom: 80px;
  background: #F5F5F6;
}
@media screen and (max-width: 992px) {
  section.callback {
    padding-left: clamp(15px, calc(15px + (150 - 15) * (100vw - 375px) / (992 - 375)), 150px);
    padding-right: clamp(15px, calc(15px + (150 - 15) * (100vw - 375px) / (992 - 375)), 150px);
  }
}

.callback {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .callback {
    display: block;
  }
}
.callback .main-title {
  margin-bottom: 50px;
}
.callback .main-title h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: clamp(24px, calc(24px + (48 - 24) * (100vw - 375px) / (1170 - 375)), 48px);
  line-height: 1.2;
  color: #000000;
}
.callback .main-title p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}
.callback-form {
  padding: 30px 25px;
  background: #FFFFFF;
}
.callback-form input {
  margin-bottom: 20px;
}
.callback-form input[type=text] {
  padding-left: 20px;
  width: 100%;
  height: 70px;
  border: 1px solid #D5D5D5;
  border-radius: 6px;
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}
.callback-form input[type=text]::placeholder {
  color: #8F8F8F;
}
.callback-form input[type=submit] {
  margin-top: 60px;
  padding: 25px 100px;
  width: 100%;
  border: 0;
  border-radius: 6px;
  background: #FFD700;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}
.callback-form p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}
.callback-form p a {
  font-size: 12px;
  text-decoration: underline;
  color: #5D3DE3;
}

.footer {
  min-height: 490px;
  background: #171717;
}
.footer-main {
  padding-top: 60px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .footer-main {
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: start;
  }
}
@media screen and (max-width: 576px) {
  .footer-main {
    grid-template-columns: 1fr;
  }
}
.footer-main__item-logo {
  margin-bottom: 20px;
  display: block;
}
.footer-main__item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #747474;
}
.footer-main__item-text .text-item:first-child {
  margin-bottom: 70px;
}
.footer-main__item-text .text-item span {
  margin-bottom: 5px;
  display: block;
}
.footer-main__item-text .text-item span:nth-child(1) {
  color: #ffffff;
}
.footer-main__nav {
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}
.footer-main__nav--active a {
  color: #5D3DE3 !important;
}
.footer-main__nav li a {
  color: #ffffff;
}
.footer-main__buttons-btn {
  margin-bottom: 25px;
  padding: 15px 25px;
  width: max-content;
  display: block;
  border-radius: 6px;
  background: #5D3DE3;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer-main__buttons-socials a {
  display: inline-block;
}
.footer-main__buttons-socials a:not(:last-child) {
  margin-right: 15px;
}
.footer-main__contacts-phones {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
}
.footer-main__contacts-phones li {
  padding-left: 40px;
  background-position: left center;
  background-repeat: no-repeat;
}
.footer-main__contacts-phones li a {
  color: #FFFFFF;
}
.footer-main__contacts-email {
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #FFFFFF;
}
.footer-main__contacts-payment a img {
  margin-right: 5px;
  background: #ffffff;
}
.footer-line {
  margin: 0 auto;
  max-width: 1085px;
  border-radius: 6px;
  background: #2B2B2B;
  opacity: 0.2;
}
.footer-bottom {
  padding-top: 35px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: clamp(35px, calc(35px + (80 - 35) * (100vw - 576px) / (1170 - 576)), 80px);
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .footer-bottom {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.footer-bottom__item {
  border-bottom: 1px solid #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
}