html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background: #101010;
  font-family: Scada, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

header > *, main > *, footer > * {
  margin: 0 auto;
  padding: 0 clamp(15px, calc(15px + (265 - 15) * (100vw - 1390px) / (1920 - 1390)), 265px);
  max-width: 1920px;
  overflow: hidden;
}