body *[data-htmler-selected="on"] {
    outline: 5px dashed yellow !important;
}
body *[data-htmler-selected="on"]:before,
body *[data-htmler-selected="on"]:after {
    outline: 5px dashed orange !important;
}
body *[data-htmler-selected="off"] {
    outline: 5px dashed red;
}
body *[data-htmler-selected="off"]:before,
body *[data-htmler-selected="off"]:after {
    outline: 5px dashed blue;
}



/* elname */
.htmler-elname {
    padding: 10px 0; background: black;
    font-size: 22px;
    position: fixed; z-index:999;
}
    .htmler-elname span {
        padding: 10px;
        background: #3b3b3b;
        color: #7CBB6A;
    }
        .htmler-elname span:nth-child(1) {
            color: orange;
        }




/* contextmenu */
.htmler-contextmenu {
    padding: 15px;
    width: 500px; height: 400px;
    background: #3b3b3b; 
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 30px;
    font-size: 30px; color: white;
    position: fixed; z-index: 9999;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
    .htmler-contextmenu li {
        padding: 10px;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
    }
        .htmler-contextmenu li:hover {
            color: orange;
            background: #707070;
        }