<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body
        div#site
            
            
            
            
            // Header >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            header.header
                .header-top
                    a.logo(href=""): img(src="./img/logo.png", alt="")
                    .contacts
                        .email 
                            a(href="mailto:smisexpert@bk.ru")
                                img(src="./img/svg/email-ico.svg", alt="") 
                                | smisexpert@bk.ru
                        .phone 
                            a(href="tel:0500")
                                img(src="./img/svg/phone-ico.svg", alt="") 
                                | +7 (495) 532-52-62
                    .btn-phone: a(href="#consultation") Заказать звонок   
                    .search 
                        img(src="./img/svg/search-ico.svg", alt="")
                        | Поиск
                    .menu 
                        img(src="", alt="")
                        | Меню
                .menu-block
                    ul.nav-main
                        li О компании <span><img src="./img/svg/nav-menu-arright-ico.svg" alt=""></span>
                        li Продукты и услуги <span><img src="./img/svg/nav-menu-arright-ico.svg" alt=""></span>
                        li Технологии <span><img src="./img/svg/nav-menu-arright-ico.svg" alt=""></span>
                        li Отраслевые решения <span><img src="./img/svg/nav-menu-arright-ico.svg" alt=""></span>
                        li Проекты <span><img src="./img/svg/nav-menu-arright-ico.svg" alt=""></span>
                        li Партнерство <span><img src="./img/svg/nav-menu-arright-ico.svg" alt=""></span>
                        li Комьюнити <span><img src="./img/svg/nav-menu-arright-ico.svg" alt=""></span>
                        li Контакты
                    .nav-sub
                        .sub-li
                            .title О компании
                            .items-wrap
                                ul.items
                                    li О компании
                                    li Преимущества
                                    li Истории
                                    li Лидеры
                                ul.items
                                    li Квалификация
                                    li Отзывы
                                    li Клиенты
                                    li Карьера
                        .sub-li
                            .title Продукты и услуги
                            .items-wrap
                                ul.items
                                    li Системы <span><img src="./img/svg/nav-sub-arright-ico.svg" alt=""></span>
                                        ul.sub-items
                                            li СМИС
                                            li СМИК
                                            li СКПБ
                                            li СОУ
                                            li МФСБ
                                    li Программное обеспечение <span><img src="./img/svg/nav-sub-arright-ico.svg" alt=""></span>
                                ul.items
                                    li Измерительное оборудование <span><img src="./img/svg/nav-sub-arright-ico.svg" alt=""></span>
                                    li Услуги инжиниринга <span><img src="./img/svg/nav-sub-arright-ico.svg" alt=""></span>
                        .sub-li
                            .title Технологии
                            .items-wrap
                                ul.items
                                    li Модульный OPC-сервер XPERT
                                    li Решаемые задачи
                                ul.items
                                    li Модули
                                    li Тренды цифровизации
                        .sub-li
                            .title Отраслевые решения
                            .items-wrap
                                ul.items
                                    li Угольная промышленность
                                    li Нефтегазовая промышленность
                                    li Горнодобывающая промышленность
                                    li Химическая промышленность
                                    li Металлургия
                                    li Машиностроение
                                    li Тепловая энергетика
                                    li Канатные дороги
                                ul.items
                                    li Гидротехнические сооружения
                                    li Электросети
                                    li Строительство
                                    li Эксплуатация ЖКХ
                                    li Ритейл
                                    li Автотранспорт
                                    li Железнодорожный транспорт
                        .sub-li
                            .title Проекты
                            .items-wrap
                                ul.items
                                    li Аэропорт Домодедово (тр 2)
                                    li Пешеходный мост через р. Москва
                                    li Мост через реку Кама в г. Камбарка
                                    li Комплекс ОАО «Куйбышев Азот»
                                    li ТРК «Мурманск Молл» г. Мурманск
                                    li ООО «Линде Азот Тольятти» -объект
                                ul.items
                                    li Аэропорт Домодедово (тр 2)
                                    li Пешеходный мост через р. Москва
                                    li Мост через реку Кама в г. Камбарка
                                    li Комплекс ОАО «Куйбышев Азот»
                                    li ТРК «Мурманск Молл» г. Мурманск
                                    li ООО «Линде Азот Тольятти» -объект
                        .sub-li
                            .title Партнерство
                            .items-wrap
                                ul.items
                                    li Наши портнеры
                                    li Стать портнером
                        .sub-li
                            .title Комьюнити
                            .items-wrap
                                ul.items
                                    li Нормативные документы
                                    li Статьи
                                    li Новости
                                ul.items
                                    li Видео
                                    li Блог


                .header-main
                    ul.lists
                        li - Технологии. соединяющие мир
                        li - Наши ключевые преимущества
                        li - Наши ключевые преимущества
                        li - Отзывы
                        li - Новости
                        li - Клиенты
                        li - Отправить заявку
                    .text
                        h1.title Система мониторинга и управления инженерными системами (СМИС)
                        .btn Получить демо
                        .demo-window 
                        .demo-block 
                            .demo-top
                                .title Получение демо-версии
                                .btns
                                    span 1
                                    span 
                                    span 
                                    span 
                                    span 
                            .demo-main
                                ul.text
                                    li Блогодарим вас за интерес к программе “СМИС Эксперт”!
                                    li Заполнив короткую регистрационную анкету,вы получаете на свой электронный адрес письмо с персональным логином входа в систему,ключи доступа к демо-версии и инструкции по настройке.
                                form.form
                                    input(type="text" placeholder="Ваше фамилия и имя")
                                    input(type="text" placeholder="Должность")
                                    input(type="text" placeholder="E-mail")
                                    input(type="text" placeholder="Город")
                                    input(type="text" placeholder="Название компании")
                                    input(type="submit", value="Продолжить")
                
                .header-bottom
                    .slider
                        .btns
                            .toleft: img(src="./img/svg/to-left-ico.svg", alt="")
                            .toright: img(src="./img/svg/to-right-ico.svg", alt="")
                        .slider-wrap
                            .slide
                                img(src="./img/header-bg/header-bg-01-thumb.png", alt="")
                                .index 01
                                h4 Автоматизированная <br>система промышленной <br>безопасности (АСПБ)
                                .line
                            .slide
                                img(src="./img/header-bg/header-bg-02-thumb.png", alt="")
                                .index 02
                                h4 Система мониторинга <br>инженерных конструкций <br>зданий и сооружений (СМИК)
                                .line
                            .slide
                                img(src="./img/header-bg/header-bg-03-thumb.png", alt="")
                                .index 03
                                h4 Автоматизированная <br>система управления <br>зданием (BMS / АСУЗ)
                                .line
                            .slide
                                img(src="./img/header-bg/header-bg-04-thumb.png", alt="")
                                .index 04
                                h4 Система <br>обнаружения <br>утечек (СОУ)
                                .line
                            .slide
                                img(src="./img/header-bg/header-bg-05-thumb.png", alt="")
                                .index 05
                                h4 Автоматизированная <br>система промышленной <br>безопасности (АСПБ)
                                .line
                            


                
            // Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            main.main
                .technologies
                    .text
                        h2.title-main Технологии, соединяющие мир Модульный OPC Сервер XPERT
                        ul
                            li
                                img(src="./img/svg/technologies-ico.svg", alt="") 
                                span Интеграционная цифровая платформа для сбора, обработки и передачи данных, получаемых от различных источников, таких как, OPC серверы, устройства Modbus RTU/TCP, BACnet, SNMP

                            li
                                img(src="./img/svg/technologies-ico.svg", alt="") 
                                span Библиотека универсальных модулей (драйверов), позволяющих без затрат расширить функционал вашего программного комплекса

                            li
                                img(src="./img/svg/technologies-ico.svg", alt="") 
                                span Программная основа любых систем и решений по мониторингу, контролю и управлению объектами и системами
                        .more: a(href="") Далее...
                    .pic: img(src="./img/technologies.jpg", alt="")
                
                .advantage
                    h2.title-main Наши ключевые преимущества
                    .cards
                        .card 
                            img(src="./img/advantage/advantage-01.jpg", alt="")
                            h3 Широкий спектр <br>продуктов и услуг
                            ul
                                li Глубокая и разностороння экспертиза
                                li От разработки уникального ПО до федеральных проектов по внедрению систем мониторинга, контроля и управления
                                li Комплексные отраслевые решения 
                        .card 
                            img(src="./img/advantage/advantage-02.jpg", alt="")
                            h3 Полный жизненный <br>цикла инжиниринга
                            ul
                                li Реализуем проекты под ключ. Объединяем функции разработчиков и интеграторов 
                                li Подключаемся к проекту на любом этапе.
                                li Обследование – Проектирование – Разработка специального ТО - Поставка оборудования 
                                li Монтажные работы – Пуско-наладка – Техническое обслуживание - Консультирование

                        .card 
                            img(src="./img/advantage/advantage-03.jpg", alt="")
                            h3 Любые проекты по <br>сложности и масштабу
                            ul
                                li Десятки успешных проектов по разработке и внедрению систем мониторинга для МЧС 
                                li Системы мониторинга критически важных и потенциально опасных объектов
                        .card 
                            img(src="./img/advantage/advantage-04.jpg", alt="")
                            h3 Лидерские <br>позиции
                            ul
                                li Участвуем в создании инновационных разработок
                                li Организуем для реализации сложных проектов профессиональные партнерские кластеры 
                        .card 
                            img(src="./img/advantage/advantage-05.jpg", alt="")
                            h3 Инициативы в целях <br>развития
                            ul
                                li Участвуем в работе комиссий, по созданию гостов и регламентов 71 технического комитета, 
                                li Тесно сотрудничаем с ведущими научно-исследовательскими и проектными институтами.
                        .card 
                            img(src="./img/advantage/advantage-06.jpg", alt="")
                            h3 Эффективные <br>методы
                            ul
                                li Предлагаемые нами программные продукты, системы и решения позволяют получить значительный экономический эффект

                .projects
                    h2.title-main Проекты компании
                    .cards
                        .card
                            img(src="./img/projects/projects-01.jpg", alt="")    
                            h6: a(href="") Аэропорт Домодедово (терминал 2)
                        .card
                            img(src="./img/projects/projects-02.jpg", alt="")    
                            h6: a(href="") Южно-Балыкский <br>газоперерабыващий завод
                        .card
                            img(src="./img/projects/projects-03.jpg", alt="")    
                            h6: a(href="") Олимпийский комплекс «Лужники»
                        .card
                            img(src="./img/projects/projects-04.jpg", alt="")    
                            h6: a(href="") Крымский мост
                        .card
                            img(src="./img/projects/projects-05.jpg", alt="")    
                            h6: a(href="") Комплекс ОАО «Куйбышев Азот»
                    .btn-more Больше проектов

                .reviews
                    h2.title-main Отзывы
                    .slider
                        .btns-arrows
                            img.toleft(src="./img/svg/reviews-toleft-ico.svg", alt="")
                            img.toright(src="./img/svg/reviews-toright-ico.svg", alt="")
                        .slide-wrap
                            .wrap-slides
                                .slide
                                    img(src="./img/reviews/reviews-01.png", alt="")
                                    h5 Создание парковой зоны на территории “Зарядье”
                                    p С удовольствием порекомендуем Ваше предприятие своим партнёрам для реализации проектов любой сложности!
                                .slide
                                    img(src="./img/reviews/reviews-02.png", alt="")
                                    h5 Строительство транспортного перехода через Керченский пролив
                                    p Все поставленные задачи и цели были выполнены, работы завершены с высоким качеством и в срок!
                                .slide
                                    img(src="./img/reviews/reviews-03.png", alt="")
                                    h5 Аэропорт “Домодедово”
                                    p Все работы выполненные Вашей компанией на высоком уровне с соблюдением сроков!
                            .wrap-slides    
                                .slide
                                    img(src="./img/reviews/reviews-01.png", alt="")
                                    h5 2 Создание парковой зоны на территории “Зарядье”
                                    p С удовольствием порекомендуем Ваше предприятие своим партнёрам для реализации проектов любой сложности!
                                .slide
                                    img(src="./img/reviews/reviews-02.png", alt="")
                                    h5 2 Строительство транспортного перехода через Керченский пролив
                                    p Все поставленные задачи и цели были выполнены, работы завершены с высоким качеством и в срок!
                                .slide
                                    img(src="./img/reviews/reviews-03.png", alt="")
                                    h5 2 Аэропорт “Домодедово”
                                    p Все работы выполненные Вашей компанией на высоком уровне с соблюдением сроков!
                            .wrap-slides    
                                .slide
                                    img(src="./img/reviews/reviews-01.png", alt="")
                                    h5 3 Создание парковой зоны на территории “Зарядье”
                                    p С удовольствием порекомендуем Ваше предприятие своим партнёрам для реализации проектов любой сложности!
                                .slide
                                    img(src="./img/reviews/reviews-02.png", alt="")
                                    h5 3 Строительство транспортного перехода через Керченский пролив
                                    p Все поставленные задачи и цели были выполнены, работы завершены с высоким качеством и в срок!
                                .slide
                                    img(src="./img/reviews/reviews-03.png", alt="")
                                    h5 3 Аэропорт “Домодедово”
                                    p Все работы выполненные Вашей компанией на высоком уровне с соблюдением сроков!
                            .wrap-slides    
                                .slide
                                    img(src="./img/reviews/reviews-01.png", alt="")
                                    h5 4 Создание парковой зоны на территории “Зарядье”
                                    p С удовольствием порекомендуем Ваше предприятие своим партнёрам для реализации проектов любой сложности!
                                .slide
                                    img(src="./img/reviews/reviews-02.png", alt="")
                                    h5 4 Строительство транспортного перехода через Керченский пролив
                                    p Все поставленные задачи и цели были выполнены, работы завершены с высоким качеством и в срок!
                                .slide
                                    img(src="./img/reviews/reviews-03.png", alt="")
                                    h5 4 Аэропорт “Домодедово”
                                    p Все работы выполненные Вашей компанией на высоком уровне с соблюдением сроков!
                        .btns-dots
                            .dot-red
                            //.dot

                .news
                    h2.title-main Новости
                    .cards
                        .card
                            img(src="./img/news/news-01.jpg", alt="")
                            .text
                                h4: a(href="") Технология OPC: назначение и применение
                                p Программные технологии OPC созданы и служат для управления технологическими процессами. Это своего рода связующий компонент, который объединяет в единую систему оборудование управления, контроллеры и другие объекты автоматизации
                                .date 28.11.2020
                        .card
                            img(src="./img/news/news-02.jpg", alt="")
                            .text
                                h4: a(href="") Реализация мониторинга на объекте «Большая спортивная арена «Лужники»
                                p На объекте БСА «Лужники» реализован автоматический сбор информации с датчиков. Представлены данные на период отладки системы мониторинга по инклинометрам, акселерометрам, тензометрам, призмам для тахеометра, метеостанции
                                .date 28.11.2020
                        .card
                            img(src="./img/news/news-03.jpg", alt="")
                            .text
                                h4: a(href="") Компания «СМИС Эксперт» включена в состав ТК 071
                                p По результатам организационного заседания Технического комитета (ТК) 071 компания «СМИС Эксперт» включена в состав ТК 071 «Гражданская оборона, предупреждение и ликвидация чрезвычайных ситуаций» (п.4.3 решения).
                                .date 28.11.2020
                        .card
                            img(src="./img/news/news-04.jpg", alt="")
                            .text
                                h4: a(href="") OPC Тунеллер «Expert» компании СМИС-эксперт включен в Единый Реестр российских программ
                                p Приказом Министерства цифрового развития, связи массовых коммуникаций РФ продукт компании "СМИС-ЭКСПЕРТ" OPC Тунеллер «Expert» внесен в Единый Реестр российских программ...
                                .date 28.11.2020
                        .card
                            img(src="./img/news/news-05.jpg", alt="")
                            .text
                                h4: a(href="") «СМИС ЭКСПЕРТ» разработал новый модуль «JSON Parser» для OPC сервера «Xpert
                                p Модуль JSON Parser разработан специалистами компании для разбора и определения значений полей из данных формата JSON.  С его помощью настраиваются параметры чтения: формат файлов, тип запроса, интервалы чтения и т.п.
                                .date 28.11.2020
                        .card
                            img(src="./img/news/news-06.jpg", alt="")
                            .text
                                h4: a(href="") ООО «СМИС Эксперт» оказала помощь в проведении ХI Международного фестиваля семейных династий « ВЕРА. НАДЕЖДА. ЛЮБОВЬ».
                                p Миссия Фестиваля -  возрождение и укрепление семейных ценностей и связей поколений. Он показывает возможности молодой семьи и большой...
                                .date 28.11.2020
                    .btn-more Больше новостей
                
                .clients
                    h2.title-main Клиенты
                    .slider
                        .btns-arrows
                            img.toleft(src="./img/svg/reviews-toleft-ico.svg", alt="")
                            img.toright(src="./img/svg/reviews-toright-ico.svg", alt="")
                        .slide-wrap
                            .wrap-slides
                                .slide 
                                    a(href="")
                                        img(src="./img/clients/clients-01.png", alt="")
                                .slide
                                    a(href="")
                                        img(src="./img/clients/clients-02.png", alt="")
                                .slide
                                    a(href="")
                                        img(src="./img/clients/clients-03.png", alt="")
                                .slide
                                    a(href="")
                                        img(src="./img/clients/clients-04.png", alt="")
                            .wrap-slides
                                .slide
                                    a(href="")
                                        img(src="./img/clients/clients-01.png", alt="")
                                .slide
                                    a(href="")
                                        img(src="./img/clients/clients-02.png", alt="")
                                .slide
                                    a(href="")
                                        img(src="./img/clients/clients-03.png", alt="")
                                .slide
                                    a(href="")
                                        img(src="./img/clients/clients-04.png", alt="")
                        .btns-dots
                            .dot-red
                            //.dot

                .consultation#consultation
                    h2.title-main Хотите получить бесплатную консультацию?
                    p Заполните форму и наш специалист свяжется с вами в ближайшее время
                    form(action="index.html")
                        input(type="text", name="" placeholder="Имя")
                        input(type="phone", name="" placeholder="Телефон")
                        input(type="submit" value="Отправить")
            
            
            // Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            footer.footer
                ul
                    li: a Продукты и услуги
                    li: a(href="")  Интеграционная платформа Xpert
                    li: a(href="")  Базовые решения
                    li: a(href="")  Программные продукты
                    li: a(href="")  Отраслевые решения
                    li: a(href="")  Услуги
                ul
                    li: a  Компания
                    li: a(href="")  О компании
                    li: a(href="")  Технологии
                    li: a(href="")  Проекты
                    li: a(href="")  Партнерство
                    li: a(href="")  Контакты
                ul
                    li: a  Комьюнити
                    li: a(href="")  Нормативные документы
                    li: a(href="")  Новости
                    li: a(href="")  Статьи
                    li: a(href="")  Видео
                    li: a(href="")  Блог
                ul
                    .socials
                        a(href=""): img(src="./img/svg/fb-ico.svg", alt="")
                        a(href=""): img(src="./img/svg/ins-ico.svg", alt="")
                        a(href=""): img(src="./img/svg/tlg-ico.svg", alt="")
                        a(href=""): img(src="./img/svg/vk-ico.svg", alt="")
                    li: a  Контакты
                    li: a(href="tel:0500")  Телефон: +7 (495) 532-52-62
                    li: a(href="mailto:smisexpert@bk.ru")  Email: smisexpert@bk.ru
                    li: a  Адрес: г. Москва, Каширское шоссе, д. 12
                    li.red Реквизиты ООО "СМИС Эксперт"

    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(src="./js/script.js")        
            
