<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body
        div#site
            
            
            
            
            // Header >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            header.header
                .top
                    a(href="")
                        img.logo(src="./img/svg/logo-ico.svg", alt="")
                    ul.menu
                        li: a(href="") Цены
                        li: a(href="") Автопарк
                        li: a(href="") Отзывы
                        li: a(href="") Контакты
                    a.phone(href="tel:0500") 8(800)-080-12-13
                
                .main
                    h1 Квартирные <br>переезды 
                    p По Москве и области
                    .btn-red
                        div Заказать
                        div 

                .bottom
                    .items
                        .item
                            img(src="./img/svg/truck-ico.svg", alt="")
                            p.desc-h3 Более 800 <br>переездов
                        .item
                            img(src="./img/svg/packaging-ico.svg", alt="")
                            p.desc-h3 Бережная <br>упаковка
                        .item
                            img(src="./img/svg/money-ico.svg", alt="")
                            p.desc-h3 Фиксированная <br>цена
                    a.phone-btn(href="tel:0500")



                
                
                
            // Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            main.main
                .process
                    h2.title-main Как это происходит?
                    .grid
                        .col
                            img(src="./img/process-pic01.png", alt="")
                            .text
                                h3.title-h3 Оценка объема предстоящих работ
                                p.desc-h3 Стоимость переезда зависит от количества комнат, вещей и мебели. 
                        .col
                            img(src="./img/process-pic02.png", alt="")
                            .text
                                h3.title-h3 Упаковка вещей
                                p.desc-h3 Упаковываем вещи в коробки, подписываем. Габаритное и деликатное,  упаковываем отдельно. 
                        .col
                            img(src="./img/process-pic03.png", alt="")
                            .text
                                h3.title-h3 Погрузка и транспортировка вещей
                                p.desc-h3 В нашем автопарке имеются машины, подходящие для мебели любых габаритов.
                        .col
                            img(src="./img/process-pic04.png", alt="")
                            .text
                                h3.title-h3 Распаковка и расстановка мебели
                                p.desc-h3 Опытные грузчики быстро расставят мебель и уберут мусор от распаковки.

                .prices
                    h2.title-main Цены 
                    p.desc-main Фиксированная стоимость на переезд под ключ 
                    .row
                        .col
                            h3.title-h3 1-комнатная кв-ра  
                            p.desc-h3 1 фургон
                            p.desc-h3 2 грузчика
                            p.desc-h3 Переезд за 4 часа
                            .price 8 490₽ 
                            .btn-yellow Заказать
                        .col
                            h3.title-h3 2-комнатная кв-ра  
                            p.desc-h3 1 газель - 3 метра 
                            p.desc-h3 2 грузчика
                            p.desc-h3 Переезд за 4 часа
                            .price 10 990₽  
                            .btn-yellow Заказать
                        .col
                            h3.title-h3 3-комнатная кв-ра  
                            p.desc-h3 1 газель - 4 метра
                            p.desc-h3 2 грузчика
                            p.desc-h3 Переезд за 6 часов
                            .price 16 490₽ 
                            .btn-yellow Заказать

                .carpark
                    h2.title-main Автопарк   
                    p.desc-main 10 видов автомобилей от 800 кг до 10 тонн  
                    .btns
                        .btn Газели
                        .btn Каблуки
                        .btn Грузовики
                    .slider 
                        .slide
                            .col
                                h3.title-h3 Газель 3 метра 
                                p.desc-h3 <img src="./img/svg/checkmark-ico.svg", alt=""> Ширина 2 м
                                p.desc-h3 <img src="./img/svg/checkmark-ico.svg", alt=""> Высота 2 м
                                p.desc-h3 <img src="./img/svg/checkmark-ico.svg", alt=""> Объем 16 м³
                                p.desc-h3 <img src="./img/svg/checkmark-ico.svg", alt=""> Грузоподъемность 1,5 т
                                .btn-yellow Заказать
                            img(src="./img/carpark-pic01.png", alt="")
                    .slider-mob
                        .slide
                            img(src="./img/carpark-pic01.png", alt="")
                            h3.title-h3 Газель 3 метра / 1,5 тонны  
                        .slide-btns
                            img(src="./img/svg/btn-slide-ico.svg", alt="")        
                            img(src="./img/svg/btn-slide-ico.svg", alt="")        
                            img(src="./img/svg/btn-slide-ico.svg", alt="")        
                            img(src="./img/svg/btn-slide-ico.svg", alt="")     
                            img(src="./img/svg/btn-slide-ico.svg", alt="")     
                        .btn-yellow Заказать    

                .reviews
                    h2.title-main Отзывы
                    .row
                        .col
                            h3.title-h3 Ирина
                            .meta 24.03.2019 
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                            p.desc-h3 
                                | Обращение к вам за помощью в переезде оставило только положительные впечатления. Хотелось отметить замечательного водителя газели Алексея. Были трудности с заездом 
                                | во двор, он проявил себя как компетентный 
                                | и профессиональный сотрудник, за что ему огромное...  
                            .more Читать полностью 
                        .col
                            h3.title-h3 Светлана Васильевна 
                            .meta 13.09.2019 
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                            p.desc-h3 
                                | Сегодня ( 13.09.2019 ) мы переехали. Остались очень довольны, несмотря на то, 
                                | что к нам опоздали на 1,5 часа. Морально были к этому готовы ( в прошлый переезд в другой фирме тоже опоздали на час).  
                                | Водитель заранее позвонил, предупредил, что задерживается. Когда.... 
                            .more Читать полностью 
                        .col
                            h3.title-h3 Ольга Петрова
                            .meta 11.11.2019
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                                img(src="./img/svg/star-ico.svg", alt="")
                            p.desc-h3 
                                | Могу на 100% порекомендовать компанию MOVEE и отметить, что цены фиксированы, что упрощает расчет. 
                                | Безо всяких заморочек, в отличии от их конкурентов. Упаковали все качественно и быстро. 
                                | Все вещи приехали в сохранности. Особлая благодарность Александру за его...  
                            .more Читать полностью 
                    .btn-yellow.btn-more Все отзывы

                .callnow
                    h2.title-main Закажи  переезд прямо сейчас
                    p.desc-h3 Мы перезвоним в течении 10 секунд
                    form(action="") 
                        input(type="text" placeholder="Ваше имя") 
                        input(type="phone" placeholder="Телефон") 
                        .wrap
                            div
                            input(type="submit", value="Перезвонить мне") 
                            span 
                                input(type="checkbox", name="") 
                                | Даю согласие на обработку данных

                .map
                    .map-img-bg
                    .col
                        h2.title-main MOVEE
                        p.desc-h3 
                            img(src="./img/svg/checkmarkyellow-ico.svg", alt="")
                            | Москва, Волгоградский пр-т, 38
                        p.desc-h3 
                            img(src="./img/svg/checkmarkyellow-ico.svg", alt="")
                            | 8 (800)-080-12-13
                        p.desc-h3 
                            img(src="./img/svg/checkmarkyellow-ico.svg", alt="")
                            | hello@movee.ru
                        .socials 
                            a(href="", target="_blank"): img(src="./img/svg/yt-ico.svg", alt="")
                            a(href="", target="_blank"): img(src="./img/svg/vk-ico.svg", alt="")
                            a(href="", target="_blank"): img(src="./img/svg/fb-ico.svg", alt="")
                            a(href="", target="_blank"): img(src="./img/svg/lp-ico.svg", alt="")





            
            // Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            footer.footer
                .row
                    .col
                        h2.title-main MOVEE
                        p: a(href="") Политика <br>конфиденциальнности
                        p: a(href="")  Соглашение на обработку <br>персональных данных
                    ul.col
                        li: a(href="") Главная
                        li: a(href="") Цена
                        li: a(href="") Автопарк
                        li: a(href="") Отзывы
                        li: a(href="") Контакты
                    .col
                        .socials
                            a(href="", target="_blank"): img(src="./img/svg/yt-ico.svg", alt="")
                            a(href="", target="_blank"): img(src="./img/svg/vk-ico.svg", alt="")
                            a(href="", target="_blank"): img(src="./img/svg/fb-ico.svg", alt="")
                            a(href="", target="_blank"): img(src="./img/svg/lp-ico.svg", alt="")
                        a.email(href="mailto:") hello@movee.ru
                    .col
                        .btn-yellow Обратный звонок
                        a.phone(href="tel:0500") 8 (800)-080-12-13


            
            
            