<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        title Как стать начинающим data scientist? 
    body

        div#site
            
            
            
            
            // Header >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            header.header
                .header-top
                    a.logo(href=""): img(src="./img/header/logo.svg" alt="logo")
                    ul.menu
                        li: a(href="") Программа курса
                        li: a(href="") Преимущества
                        li: a(href="") Цена
                        li: a(href="") Отзывы
                        li: a(href="") Контакты
                .header-main
                    h1 Как за 12 часов стать начинающим <br/>data scientist и научиться <br/>зарабатывать на своих навыках? 
                    p И получить высокооплачиваемую работу в самой <br/>быстрорастущей отрасли в мире
                    .items
                        .item Начните зарабатывать на следующий день после курса
                        .item Поможем найти работу в офисе и на фрилансе
                        .item Сэкономьте своё время —  за день получите то же, что на трёхмесячном курсе обучения
                    .date-time Начало курса: 11 мая, 9:00 – 21:00
                    a.btn(href="") Забронировать
                
            // Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            main.main
                // --- skills ---
                section.skills
                    h2.title-main Как Вы считаете, сможете ли Вы стать data scientist за 12 часов, освоив эти 6 навыков?
                    .skills__items
                        .skills__item 
                            img(src="./img/skills/item-ico-01.svg" alt="навык")
                            p Обработка данных и извлечение признаков
                        .skills__item 
                            img(src="./img/skills/item-ico-02.svg" alt="навык")
                            p Классификация
                        .skills__item 
                            img(src="./img/skills/item-ico-03.svg" alt="навык")
                            p Кластеризация
                        .skills__item 
                            img(src="./img/skills/item-ico-04.svg" alt="навык")
                            p Построение регрессионных моделей
                        .skills__item 
                            img(src="./img/skills/item-ico-05.svg" alt="навык")
                            p Ранжирование
                        .skills__item 
                            img(src="./img/skills/item-ico-06.svg" alt="навык")
                            p Сокращение размерности
                    .skills__slider
                        .h3 Вакансии data scientist 
                        .arrows
                            img(src="./img/skills/slider/arprev-ico.svg" alt="arprev")
                            img(src="./img/skills/slider/arnext-ico.svg" alt="arnext")
                        .slides-wrap
                            .slides
                                .slide
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data Scientist
                                        span до 400 000 руб.
                                        img(src="./img/skills/slider/card-logo-01.png" alt="Data Scientist")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data scientist /Project manager
                                        span до 400 000 руб.
                                        img(src="./img/skills/slider/card-logo-02.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Руководитель направления
                                        span от 200 000 руб.
                                        img(src="./img/skills/slider/card-logo-03.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Специалист Big data
                                        span от 300 000 руб.
                                        img(src="./img/skills/slider/card-logo-04.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data Scientist
                                        span до 300 000 руб.
                                        img(src="./img/skills/slider/card-logo-05.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data scientist /Project manager
                                        span до 400 000 руб.
                                        img(src="./img/skills/slider/card-logo-06.png" alt="")
                                .slide
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data Scientist
                                        span до 400 000 руб.
                                        img(src="./img/skills/slider/card-logo-01.png" alt="Data Scientist")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data scientist /Project manager
                                        span до 400 000 руб.
                                        img(src="./img/skills/slider/card-logo-02.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Руководитель направления
                                        span от 200 000 руб.
                                        img(src="./img/skills/slider/card-logo-03.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Специалист Big data
                                        span от 300 000 руб.
                                        img(src="./img/skills/slider/card-logo-04.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data Scientist
                                        span до 300 000 руб.
                                        img(src="./img/skills/slider/card-logo-05.png" alt="")
                                    .slide-card
                                        img(src="./img/skills/slider/logo-hh-ico.svg" alt="hh")
                                        p Data scientist /Project manager
                                        span до 400 000 руб.
                                        img(src="./img/skills/slider/card-logo-06.png" alt="")
                        .dots
                            img(src="./img/skills/slider/dot-active-ico.svg" alt="")
                            img(src="./img/skills/slider/dot-ico.svg" alt="")
                    a.skills__btn(href="") Освоить эти 6 навыков

                // --- intensive-training ---
                section.intensive-training
                    h2.title-main В этом году мы разработали систему интенсивного обучения, которая позволит вам освоить все 6 навыков за 12 часов.
                    p Плохая новость в том, что обычные и онлайн курсы <br/>по data science растянуты на много недель, а их <br/>стоимость начинается от 30 тысяч рублей <img src="./img/intensive-training/smile-ico.svg">
                    .intensive-training__items
                        .item 
                            img(src="./img/intensive-training/pic-01.png" alt="")
                            p Но там куча теории...
                        .item 
                            img(src="./img/intensive-training/pic-02.png" alt="")
                            p И нет гарантии, что вы получите знания

                // --- course ---
                section.course
                    h2.title-main.
                        Поэтому мы решили сделать обучение <br/>удобным, доступным и выгодным для <br/>каждого
                        и упаковали знания <br/>в интенсивный курс, который позволит Вам:
                    .course__items
                        .item Потратить минимум денег и времени
                        .item Научиться искать работу под новые навыки
                        .item Начать зарабатывать на следующий день после курса
                    .course__plus 
                        h2.title-main На нашем курсе вы освоите все <br/>необходимые навыки за 12 часов <br/>благодаря
                        .items 
                            .item 
                                h3 Адаптации <br/>для новичков
                                p Все курсы адаптированы <br/>под новичков, <br/>не имеющих опыта <br/>программирования
                            .item 
                                h3 Ориентации <br/>на практику
                                p По окончании курса <br/>студенты станут <br/>самостоятельными <br/>разработчиками
                            .item 
                                h3 Интенсивному <br/>обучению
                                p Самый необходимый <br/>материал в максимально <br/>сжатые сроки
                    .course__certificate 
                        .pic: img(src="./img/course/course-certificate.png" alt="")
                        .info 
                            h3 И получите сертификат
                            p Добавьте его к своему резюме <br/>и претендуйте на более престижную <br/>должность
                            a.btn(href="") Забронировать

                // --- distinction ---
                section.distinction
                    h3  <b>Обычный курс</b> vs. <strong>Наш курс<strong>
                    .distinction__items
                        .item 
                            img(src="./img/distinction/smile-ico-01.svg" alt="")
                            p Собирать знания в течение года 
                        .item 
                            img(src="./img/distinction/smile-ico-010.svg" alt="")
                            p Сфокусировать усилия
                        .item 
                            img(src="./img/distinction/smile-ico-02.svg" alt="")
                            p Много теории и сухих теорем 
                        .item 
                            img(src="./img/distinction/smile-ico-020.svg" alt="")
                            p Берём из теории только самое нужное и переходим к практике 
                        .item 
                            img(src="./img/distinction/smile-ico-03.svg" alt="")
                            p Время, которые вы потратите только на дорогу - 12 часов
                        .item 
                            img(src="./img/distinction/smile-ico-030.svg" alt="")
                            p Время, которое вы потратите на всё обучение — 12 часов 
                        .item 
                            img(src="./img/distinction/smile-ico-04.svg" alt="")
                            p Каждый день занятий Вы оплачиваете аренду помещения и оборудования, а также платите за время, которое преподаватели провели в дороге
                        .item 
                            img(src="./img/distinction/smile-ico-040.svg" alt="")
                            p Проведение курса в один день позволяет снизить издержки для нас и цену для Вас 
                        .item 
                            img(src="./img/distinction/smile-ico-05.svg" alt="")
                            p Вы сможете начать зарабатывать не раньше окончания курса, минимум через месяц 
                        .item 
                            img(src="./img/distinction/smile-ico-050.svg" alt="")
                            p Вы начнёте зарабатывать и окупать стоимость обучения уже на следующий день. Мы научим Вас искать работу и подработку 
                    .distinction__price 
                        .item 
                            span ОБЫЧНЫЙ КУРС
                            p 46 000 <span>руб.</span>
                        .item 
                            span ОБЫЧНЫЙ КУРС
                            p 14 990 <span>руб.</span>

                // --- request ---
                section.request
                    .request__form
                        h3 Начало курса: 11 мая, 9:00 – 21:00
                        p Подайте заявку сейчас!
                        form(action="index.html")
                            input(type="text" value="" placeholder="Имя")
                            input(type="text" value="" placeholder="Телефон")
                            input(type="submit" value="Забронировать")
                    .request__share 
                        .item 
                            img(src="./img/request/share-ico-01.svg" alt="")
                            .text  
                                .num -10%
                                p Приведи друга — оба получите 10% скидку!
                            a.btn(href="") Пригласить друга
                        .item 
                            img(src="./img/request/share-ico-02.svg" alt="")
                            .text  
                                .num -5%
                                p Сделай репост — получи 5% скидку! 
                            a.btn(href="") Сделать репост

                // --- structure ---
                section.structure
                    h3 Структура курса
                    p Программа курса кажется сложной, <br/>но мы разделили ее на 7 простых блоков
                    .structure__items 
                        .item 
                            .num 01
                            img(src="./img/structure/item-ico-01.svg" alt="")
                            p Первичный анализ данных
                        .item 
                            .num 02
                            img(src="./img/structure/item-ico-02.svg" alt="")
                            p Процесс машинного обучения
                        .item 
                            .num 03
                            img(src="./img/structure/item-ico-03.svg" alt="")
                            p Классификация
                        .item 
                            .num 04
                            img(src="./img/structure/item-ico-04.svg" alt="")
                            p Ансамбли
                        .item 
                            .num 05
                            img(src="./img/structure/item-ico-05.svg" alt="")
                            p Регрессия 
                        .item 
                            .num 06
                            img(src="./img/structure/item-ico-06.svg" alt="")
                            p Поиск структуры в данных 
                        .item 
                            .num 07
                            img(src="./img/structure/item-ico-07.svg" alt="")
                            p Ещё ближе к земле
                        .item 
                            h3 Финиш
                            p Вы становитесь <br/>специалистом <br/>и получаете <br/>от нас сертификат!

                // --- aboutcompany ---
                section.aboutcompany
                    h3 О компании
                    p Мы — команда, создающая новый <br/>формат курсов
                    p Мы упаковываем сложный материал в 12-ти часовые <br/>интенсивы. Специализируемся на новых профессиях <br/>эры цифровизации и искусственного интеллекта.
                    p Наши преподаватели
                    .aboutcompany__items 
                        .item 
                            img(src="./img/aboutcompany/item-01.jpg" alt="")
                            p Булат <br/><span>Шканов</span>
                            ul 
                                li Более 4 лет опыта в машинном <br/>обучении
                                li Работает в Московском <br/>кредитном банке
                        .item 
                            img(src="./img/aboutcompany/item-02.jpg" alt="")
                            p Александр <br/><span>Глотов</span>
                            ul 
                                li 6 лет работы с фрилансерами
                                li Более 3-х лет работы в <br/>консалтинге и аналитике
                                li Владелец компании ....ru

                // --- callback ---
                section.callback
                    h3 Оставьте заявку и мы вам перезвоним
                    form(action="index.html")
                        input(type="text" value="" placeholder="Имя")
                        input(type="text" value="" placeholder="Телефон")
                        input(type="submit" value="Отправить")
                        .socials
                            a(href=""): img(src="./img/callback/fb-ico.svg" alt="fb")
                            a(href=""): img(src="./img/callback/tw-ico.svg" alt="tw")
                            a(href=""): img(src="./img/callback/vk-ico.svg" alt="vk")

                // --- reviews ---
                section.reviews
                    h2.title-main Отзывы
                    .reviews__slider
                        .arrows
                            img(src="./img/reviews/arprev-ico.svg" alt="")
                            img(src="./img/reviews/arnext-ico.svg" alt="")
                        .slides-wrap
                            .slides
                                .slide
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Сына отправил в эту школу для изучения английского языка. В первый же день, он пришел с улыбкой на лице и сказал: “Я хочу там всегда учиться”. Мы с женой обрадовались, так как сын увлекся иностранным языком. Сейчас свободно общается.
                                        span Даниил Козловский
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Взял тариф “Любитель”. Полностью прошел курс. Получил огромный опыт. К каждому студенту был персональный подход. Мог удаленно сдавать работы, просматривать лекции, если вдруг не пришел на занятие. Потрясающая школа!
                                        span Евгений Иванов
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p В школе изучала английский. Неожиданно для себя решила изучить немецкийю. Подошел курс “новичок”, в котором было все для того, чтобы за месяц изучить этот язык базово. Буду брать еще курс для того, чтобы свободно общаться на немецком. Спасибо этой школе!
                                        span Александра Кирьянова
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Изучал и в школе и в универе английский язык, так получилось, что нужно было подтянуть, но из всех тарифных планов, мне ничто не подошло, тогда я воспользовался калькулятором и создал свой тариф, в котором внес те услуги, которые мне нужны. 
                                        span Руслан Князьев
                                .slide
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Сына отправил в эту школу для изучения английского языка. В первый же день, он пришел с улыбкой на лице и сказал: “Я хочу там всегда учиться”. Мы с женой обрадовались, так как сын увлекся иностранным языком. Сейчас свободно общается.
                                        span Даниил Козловский
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Взял тариф “Любитель”. Полностью прошел курс. Получил огромный опыт. К каждому студенту был персональный подход. Мог удаленно сдавать работы, просматривать лекции, если вдруг не пришел на занятие. Потрясающая школа!
                                        span Евгений Иванов
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p В школе изучала английский. Неожиданно для себя решила изучить немецкийю. Подошел курс “новичок”, в котором было все для того, чтобы за месяц изучить этот язык базово. Буду брать еще курс для того, чтобы свободно общаться на немецком. Спасибо этой школе!
                                        span Александра Кирьянова
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Изучал и в школе и в универе английский язык, так получилось, что нужно было подтянуть, но из всех тарифных планов, мне ничто не подошло, тогда я воспользовался калькулятором и создал свой тариф, в котором внес те услуги, которые мне нужны. 
                                        span Руслан Князьев
                                .slide
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Сына отправил в эту школу для изучения английского языка. В первый же день, он пришел с улыбкой на лице и сказал: “Я хочу там всегда учиться”. Мы с женой обрадовались, так как сын увлекся иностранным языком. Сейчас свободно общается.
                                        span Даниил Козловский
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Взял тариф “Любитель”. Полностью прошел курс. Получил огромный опыт. К каждому студенту был персональный подход. Мог удаленно сдавать работы, просматривать лекции, если вдруг не пришел на занятие. Потрясающая школа!
                                        span Евгений Иванов
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p В школе изучала английский. Неожиданно для себя решила изучить немецкийю. Подошел курс “новичок”, в котором было все для того, чтобы за месяц изучить этот язык базово. Буду брать еще курс для того, чтобы свободно общаться на немецком. Спасибо этой школе!
                                        span Александра Кирьянова
                                    .item
                                        img(src="./img/reviews/pic-01.png" alt="")
                                        p Изучал и в школе и в универе английский язык, так получилось, что нужно было подтянуть, но из всех тарифных планов, мне ничто не подошло, тогда я воспользовался калькулятором и создал свой тариф, в котором внес те услуги, которые мне нужны. 
                                        span Руслан Князьев
                        .dots
                            img(src="./img/reviews/dot-active-ico.svg" alt="")
                            img(src="./img/reviews/dot-ico.svg" alt="")

                // --- contacts ---
                section.contacts
                    .pic 
                        p https://mapstyle.withgoogle.com/
                    .info 
                        h3 Контакты
                        ul 
                            li +7 (495) 123-45-67 <br/>8 (800) 123-45-67
                            li info@address.com <br/>support@address.com
                            li Москва, Сверчков пер., д. 10, <br/>офис 105 


            // Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            footer.footer
                .footer__items 
                    .item 
                        a.logo(href=""): img(src="./img/footer/logo-ico.svg" alt="logo")
                        p Остались вопросы? Мы всегда на связи:
                        .socials
                            a(href=""): img(src="./img/footer/tg-ico.svg" )
                            a(href=""): img(src="./img/footer/fb-ico.svg" )
                            a(href=""): img(src="./img/footer/vk-ico.svg" )
                            a(href=""): img(src="./img/footer/wa-ico.svg" )
                            a(href=""): img(src="./img/footer/vb-ico.svg" )
                            a(href=""): img(src="./img/footer/insta-ico.svg" )
                        p: a(href="")  Политика конфендиальности <br/>© Data.rar 2019
                    .item 
                        a.btn(href="") заказать звонок
                        ul.nav
                            li: a(href="") Программа курса
                            li: a(href="") Преимущества
                            li: a(href="") Цена
                            li: a(href="") О компании
                            li: a(href="") Отзывы
                            li: a(href="") Контакты
            
        //script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
        script(src="./js/script.js") 