@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin-regular.eot");
  src: local(""), url("../fonts/raleway-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin-regular.woff") format("woff"), url("../fonts/raleway-v19-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin-regular.svg#Raleway") format("svg");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v19-latin-500.eot");
  src: local(""), url("../fonts/raleway-v19-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-500.woff2") format("woff2"), url("../fonts/raleway-v19-latin-500.woff") format("woff"), url("../fonts/raleway-v19-latin-500.ttf") format("truetype"), url("../fonts/raleway-v19-latin-500.svg#Raleway") format("svg");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/raleway-v19-latin-600.eot");
  src: local(""), url("../fonts/raleway-v19-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-600.woff2") format("woff2"), url("../fonts/raleway-v19-latin-600.woff") format("woff"), url("../fonts/raleway-v19-latin-600.ttf") format("truetype"), url("../fonts/raleway-v19-latin-600.svg#Raleway") format("svg");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

div#popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
div#popup #popup-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
div#popup .class-popup {
  display: none;
  position: absolute;
  left: calc(50% - (400px / 2));
  top: calc(50% - (300px / 2));
  width: 400px;
  height: 300px;
  background: #FFFFFF;
}

#site {
  width: auto;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100vh;
  background: #F2F2F2;
}
#site a:hover {
  opacity: 0.8;
}

.wrapper {
  margin: 110px auto;
  padding: 60px 30px;
  width: 465px;
  width: 630px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(212, 212, 212, 0.25);
  border-radius: 10px;
}
.wrapper__title {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #333333;
}
.wrapper__info {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}
.wrapper__info-text {
  padding-top: 15px;
}
.wrapper__info-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
.wrapper__info-specs {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.wrapper__info-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #88B131;
}
.wrapper__form > * {
  margin: 0 auto;
}
.wrapper__form-title {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #333333;
}
.wrapper__form input {
  margin-bottom: 25px;
  display: block;
  width: 570px;
  height: 62px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #333333;
  text-align: center;
}
.wrapper__form input[type=submit] {
  width: 270px;
  height: 65px;
  background: #FACF5C;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}
.wrapper__form textarea {
  display: block;
  margin-bottom: 15px;
  padding-top: 18px;
  width: 570px;
  height: 129px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #666666;
  resize: none;
}
.wrapper__form-iagree {
  display: block;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #333333;
}