<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        title Potted cacti
    body
        div#popup 
            #popup-bg
            #popup-name

        div#site
            
            
            
            
            // Header >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            header.header
                .header-top
                    a.menu-btn(href=""): img(src="./img/header/menu-btn-ico.svg" alt="")
                    a.home-btn(href=""): img(src="./img/header/home-btn-ico.svg" alt="")
                .header-main 
                    h1 Nature’s souvenir store
                
            // Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            main.main
                // --- potted-cacti ---
                section.potted-cacti
                    .socials
                        a(href=""): img(src="./img/main/insta-ico.svg" alt="insta")
                        a(href=""): img(src="./img/main/fb-ico.svg" alt="fb")
                        a(href=""): img(src="./img/main/tw-ico.svg" alt="tw")
                    .wrapper
                        .pic: img(src="./img/main/potted-cacti.jpg" alt="Potted cacti")
                        .info
                            h2 Potted cacti
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .
                            .line: .line-active
                            a.gallery-more VIEW GALLERY
                                img(src="./img/main/armore-ico.svg" alt="")
                            img(src="./img/main/arnext-ico.svg" alt="")

                // --- vases-pots ---
                section.vases-pots
                    .items
                        .item VASES&POTS
                        .item 
                            img(src="./img/main/vases-pots-01.jpg" alt="")
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        .item 
                            img(src="./img/main/vases-pots-02.jpg" alt="")
                            p Venim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    a.gallery-more VIEW GALLERY
                        img(src="./img/main/armore-ico.svg" alt="")
            
            // Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            footer.footer
                
            
            
            
        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
        script(src="./js/script.js") 