

footer.footer
    .footer-main 
        .footer-main__logo: img(src="./img/footer/logo.svg" alt="")
        .footer-main__nav 
            .footer-main__nav-lists
                ul
                    li: a(href="aboutcompany.html") О компании
                    li: a(href="delivery.html") Оплата и доставка
                    li: a(href="buyers.html#faq") FAQ
                    li: a(href="blog.html") Блог
                    li: a(href="contacts.html") Контакты
            .footer-main__nav-lists
                ul
                    li: a(href="") Силиконовые скатерти
                    li: a(href="") Коврики
                    li: a(href="") Шторы в ванну
                    li: a(href="") Комплекты в ванну
                    li: a(href="") Клеенка
        .footer-main__contacts
            ul 
                li +7 888 888 88 88
                li Email-email@gmail.com
                li Пн-Пт 8:00-22:00<br/> Сб-вс- выходные
                li Адрес, дом такой, улица такая
            .footer-main__socials
                a(href="" target="_blank"): img(src="./img/footer/vk.svg" alt="")
                a(href="" target="_blank"): img(src="./img/footer/fb.svg" alt="")
                a(href="" target="_blank"): img(src="./img/footer/insta.svg" alt="")
    .footer-bottom 
        .footer-bottom__payment 
            .footer-bottom__payment-title Способы оплаты
            .footer-bottom__payments-ways
                img(src="./img/footer/ways-1.svg" alt="")
                img(src="./img/footer/ways-1.svg" alt="")
                img(src="./img/footer/ways-1.svg" alt="")
                img(src="./img/footer/ways-1.svg" alt="")
        .footer-bottom__wrap
            a(href="").footer-bottom__privacy-policy Политика конфиденциальности
            .footer-bottom__copyright Силиконовые скатерти 2021




