
section.callback
    .callback__wrapper 
        h2.main-title У вас остались вопросы?
        p Оставьте свои данные, и мы перезвоним Вас в течении 15-ти минут         
        form.callback__form(action="index.html")
            input(type="text" value="" placeholder="Ваше имя")
            input(type="text" value="" placeholder="Номер телефона")
            input(type="submit" value="Заказать звонок")
        .callback__igree Нажимая на кнопку “Заказать звонок”,  вы соглашаетесь с политикой конфиденциальности

