<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        title Технология будущего 
    body
        div#site
            
            
            
            
            // Header >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            header.header
                .header-top
                    ul.header-nav
                        li: a(href="") Главная
                        li: a(href="") Проекты
                        li: a(href="") Отзывы
                        li: a(href="") Контакты
                .header-main
                    .header-main__top
                        a.logo(href=""): img(src="./img/logo.png" alt="logo")
                        .phone.
                            +7-937-615-05-03
                            <span>доступны 24/7</span>
                    h1.header-title.
                        технологии будущего<br>
                        доступны ВСЕМ
                    p.header-desc.
                        Создаем интерактивные пространства<br>
                        Воплотим любые Ваши идеи
                    a.header-btn(href="") Отправить запрос
                
            // Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            main.main

                // --- intelligence --- 
                .intelligence
                    .intelligence-text
                         h3 DP Intelligence - философия будущего
                         p.
                            Полностью меняем представление о технологиях и их возможностях, делаем их доступными.
                            Особенность философии - потрясающие воображение продукты с минимальным бюджетом.
                            DP Intelligence заключает в себе особый метафизический смысл и подход к разработке. 
                            Бесконечная креативность, творчество, фантазия и опыт - бескрайние возможности. 
                            Создаем уникальные проекты, в каждый из которых вкладываем свою душу. 
                    .intelligence-pic
                        img(src="./img/intelligence.jpg" alt="")

                // --- project --- 
                section.project
                    h2.title-main от проектирования до комплексного оснащения
                    .project-cards
                        .card
                            img(src="./img/project/pic-01.png" alt="")
                            h3 проектирование и дизайн
                            p.
                                Разрабатываем дизайн помещений и комплексов.<br/>
                                Индивидуальный подход – уникальные проекты.<br/>
                                Проектируем техническое оснащение от А до Я.<br/>
                                Создаем концепцию любого пространства.
                            a.btn(href="") Заказать
                        .card
                            img(src="./img/project/pic-02.png" alt="")
                            h3 разработка документации
                            p.
                                От концепта до воплощения в реальность. <br/>
                                Создаем детальные технические задания. <br/>
                                Пишем правильную документацию. <br/>
                                Учитываем все возможные нюансы. 
                            a.btn(href="") Заказать
                        .card
                            img(src="./img/project/pic-03.png" alt="")
                            h3 Комплексное оснащение
                            p.
                                Интерактивные пространства с большой буквы.<br/>
                                Сопоставимый результат с любым бюджетом.<br/>
                                Уникальные мультимедийные комплексы.<br/>
                                Инсталляции, поражающие воображение.
                            a.btn(href="") Заказать

                // --- technologies --- 
                .technologies
                    .technologies-text
                         h3 Технологии в новых форматах 
                         p.
                            Уникальные и доступные рашения для музеев, галарей, выставок, театров.
                            Творческий подход делает инсталляции по-настоящему уникальными.
                            Постоянно внедряем новейшие способы взаимодействия с техникой.
                            Придумываем, экспериментируем и создаем новинки каждый день. 
                            Поразительный пользовательский опыт для всех посетителей. 
                    .technologies-pic
                        img(src="./img/technologies.png" alt="")

                // --- creating ----
                section.creating
                    h2.title-main создание поразительных инсталляций и контента
                    .creating-cards
                        .card
                            img(src="./img/creating/pic-01.png" alt="")
                            h3 мультимедиа инсталляции
                            p.
                                Гарантированный WOW-эффект <br>
                                Творческий подход к созданию <br>
                                Удивительные спецэффекты <br>
                                Собственные разработки 
                            a.btn(href="") Подробнее
                        .card
                            img(src="./img/creating/pic-02.png" alt="")
                            h3 видеомэппинг (3D mapping)
                            p.
                                Собственное программное обеспечение. <br>
                                Проекции реагируют на посетителей. <br>
                                Полное погружение в новый мир. <br>
                                Любые объекты и поверхности.
                            a.btn(href="") Подробнее
                        .card
                            img(src="./img/creating/pic-03.png" alt="")
                            h3 собственные разработки
                            p.
                                Управляющие модули и электронные компоненты. <br>
                                Проектирование, разработка и производство.  <br>
                                Эксклюзивные решения для автоматизации. <br>
                                Сенсорные столы. Интерактивные витрины.
                            a.btn(href="") Подробнее
                        .card
                            img(src="./img/creating/pic-04.png" alt="")
                            h3 эксклюзивный контент
                            p.
                                Собственная студия Creomonkeys Entertainment. <br>
                                Профессиональные художники и дизайнеры. <br>
                                3Д сканирование и моделирование. <br>
                                Все виды 2D и 3D анимации.
                            a.btn(href="") Подробнее
                        .card
                            img(src="./img/creating/pic-05.png" alt="")
                            h3 Интерактивные приложения
                            p.
                                Уникальный опыт взаимодействия с технологиями. <br>
                                Разработки для интерактивных столов и витрин. <br>
                                Работаем индивидуально без шаблонов. <br>
                                Эксклюзивные программы и контент.
                            a.btn(href="") Подробнее
                        .card
                            img(src="./img/creating/pic-06.png" alt="")
                            h3 Игровые приложения
                            p.
                                Увлекательные произведения искусства.  <br>
                                Любые игры для любых целей и задач. <br>
                                Все системы: IOS, Android, Windows. <br>
                                Интерактивные квесты, головоломки.
                            a.btn(href="") Подробнее
                            
                // --- installation --- 
                .installation
                    .installation-text
                         h3 система управления инсталляциями
                         p.
                            DP Intelligence Control System - собственная эксклюзивная разработка нашей компании. 
                            Управление оборудованием всего помещения с компьютера, планшета, смартфона.
                            Бескрайние возможности, индивидуальная адаптация под каждый проект. 
                            Работа всех инсталляций в ручном режиме и/или по расписанию. 
                            Максимально простой, удобный, понятный всем интерфейс. 
                    .installation-pic
                        img(src="./img/installation.png" alt="система управления инсталляциями")

                // --- development --- 
                section.development
                    h2.title-main Разработка AR, MR, VR приложений и контента
                    .development-cards
                        .card
                            img(src="./img/development/pic-01.png" alt="")
                            h3 дополненная реальность (AR)
                            p.
                                Взаимодействие с изображениями и объектами. <br/>
                                Используем местоположение и перемещение. <br/>
                                Интерактивные AR квесты и игры.<br/>
                                Исключительные возможности.
                            a.btn(href="") Подробнее
                        .card
                            img(src="./img/development/pic-02.png" alt="")
                            h3 смешанная реальность (MR)
                            p.
                                Расширяем горизонты существующих пространств.<br/>
                                Улучшаем возможности дополненной реальности.<br/>
                                Взаимодействие и обратный отклик от объектов.<br/>
                                Полномасштабные дополненные миры. 
                            a.btn(href="") Подробнее
                        .card
                            img(src="./img/development/pic-03.png" alt="")
                            h3 виртуальная реальность (VR)
                            p.
                                Воссоздаем или создаем любые пространства в 3Д. <br/>
                                Удаленный просмотр существующих пространств. <br/>
                                Виртуальные шоу, потрясающие воображение.<br/>
                                Увлекательные виртуальные туры и игры.
                            a.btn(href="") Подробнее

                // --- itmore --- 
                .itmore
                    .itmore-text
                         h3 намного больше, чем IT 
                         p.
                            Весь мировой опыт и новинки в области информационных технологий. 
                            Огромное количество самых положительных отзывов от посетителей. 
                            Всегда находим подходящее решение под любой бюджет. 
                            Масса эксклюзивных реализованных проектов.
                            С нами возможно все, что можно представить!
                    .itmore-pic
                        img(src="./img/itmore.png" alt="")

            


            // Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            footer.footer
                section
                    h2.title-main обращайтесь прямо сейчас. Подберем лучшее решение!
            
            
            
        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
        script(src="./js/script.js") 