<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        title Установка видеонабюдения под ключ в Ростове-на-Дону
    body
        div#site
            
            
            
            
            // Header >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            header.header
                .header-top
                    a.logo(href=""): img(src="./img/logo.png", alt="")
                    a.phone(href="tel:0500") +7 (4852) 43-65-71
                    ul.menu
                        li 
                            a(href="") Цены
                        li 
                            a(href="") О нас
                        li 
                            a(href="") Клиенты
                        li 
                            a(href="") Контакты
                .header-main
                    span Доставляем
                    h1 Бетон <br>и Раствор
                    p Решим вашу задачу любой сложности
                    .btn Заказать 
                .header-bottom
                    .cards
                        .card
                            img(src="./img/header-bottom-01.png", alt="")
                            h4 Выбрать марку
                            p Звоните. Мы поможем <br>вам выбрать марку    
                        .card
                            img(src="./img/header-bottom-02.png", alt="")
                            h4 Подберем технику
                            p Звоните. Мы организуем <br>доставку техники, бетона
                        .card
                            img(src="./img/header-bottom-03.png", alt="")
                            h4 Адрес доставки
                            p Звоните. Мы  расчитаем <br>стоимость доставки

                
                
            // Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            main.main
                .advantage
                    h2.title-main Наши преимущества
                    .contain-bg
                        .items
                            .item
                                h3 Надежность
                                p Решаем задачи в точные <br>сроки и в полном объеме. 
                            .item
                                h3 Собственный автопарк
                                p Бетоносмесители, самосвалы, <br>тонары, погрузчики.
                            .item
                                h3 Нормативные документы
                                p Сертификаты, сопроволительные <br>документы, соответствие ГОСТ
                .prices
                    h2.title-main Цены 
                    .cols
                        .col
                            h4 Раствор
                            p руб./куб.м3
                            .div <span>М 50</span> <span>2500</span> 
                            .div <span>М 75</span> <span>2650</span> 
                            .div <span>М 100</span> <span>2800</span> 
                            .div <span>М 150</span> <span>2950</span> 
                            .div <span>М 200</span> <span>3080</span> 
                            .div <span>М 250</span> <span>3250</span> 
                        .col
                            h4 Бетон
                            p руб./куб.м3
                            .div <span>М 100</span> <span>2800</span> 
                            .div <span>М 150</span> <span>2900</span> 
                            .div <span>М 200</span> <span>3050</span> 
                            .div <span>М 250</span> <span>3350</span> 
                            .div <span>М 300</span> <span>3500</span> 
                            .div <span>М 350</span> <span>3800</span> 
                            .div <span>М 400</span> <span>4050</span> 
                            .div <span>М 450</span> <span>4400</span> 
                            .div <span>М 500</span> <span>4750</span> 
                        .col
                            .items
                                .item
                                    h4 Доставка бетона и раствора:
                                    p 
                                        | Осуществляется автобетоносмесителями: 6 куб.м.; 8 куб.м.
                                        | Минимальная стоимость доставки по городу Ярославлю - 2400 руб.
                                        | Доставка по Ярославской области расчитывается отдельно.
                                .item
                                    h4 Услуги автобетоносмесителями:
                                    p 
                                        | Автобетоносмеситель: 6 куб.м. - 1100 рублей в час.
                                        | Автобетоносмеситель: 8 куб.м. - 1400 рублей в час.
                                .item
                                    h4 Услуги бетононасоса:
                                    p  
                                        | Бетононасосы с разной высотой подачи: 15, 25, 36 метров.
                                        | Цены на услуги бетононасоса расчитываются индивидуально.
                                .item
                                    p Звоните. Мы поможем вам выбрать марку, расчитать объем и доставку.  
                                    .phone +7 (4852) 43-65-71
                                    .pricelist 
                                        img(src="./img/svg/pricelist-ico.svg", alt="")
                                        span Скачать прайс лист
                .conditions
                    h2.title-main Условия работы
                    .contain
                        ol
                            li Установка машины на площадку, ожидание бетона, промывка после прокачки, сборка и разборка бетоноводов считается временем работы
                            li Наличие места слива и технологической промывки обязательно
                            li Качество бетона и раствора должно соответствовать ГОСТу 7473 - 2010 и ГОСТу 28013 - 98        
                            li Время на прочистку автобетононасоса и бетоноводов считается рабочим, если забивание случилось по вине заказчика
                            li Выгрузка, сборка, разборка, промывка и погрузка бетоноводов осуществляется силами заказчика при использовании дополнительных бетоноводов
                        img(src="./img/conditions-pic.jpg", alt="")                     
                .callback#callback
                    h2.title-main Закажи  прямо сейчас
                    p Мы перезвоним в течении 30 минут
                    .form
                        .pic-bg 
                        form(action="index.html")
                            input(type="text" placeholder="Ваше имя")
                            input(type="text" placeholder="Телефон")
                            input(type="submit", value="Перезвонить мне")
                            p
                                input(type="checkbox", name="" id="chbox")
                                label(for="chbox") Даю согласие на обработку данных
                .clients
                    h2.title-main Нас выбрали
                    .contain
                        .item: a(href=""): img(src="./img/clients/clients-01.png", alt="")
                        .item: a(href=""): img(src="./img/clients/clients-02.png", alt="")
                        .item: a(href=""): img(src="./img/clients/clients-03.png", alt="")
                        .item: a(href=""): img(src="./img/clients/clients-04.png", alt="")
                        .item: a(href=""): img(src="./img/clients/clients-05.png", alt="")
                        .item: a(href=""): img(src="./img/clients/clients-06.png", alt="")
                .map
                    .card
                        .logo: img(src="./img/logo.png", alt="")
                        ul
                            li -  г. Ярославль, ул. Чернопрудная 30
                            li -  +7 (4852) 43-65-71
                            li -  betonmobil@yandex.ru
                            li -  Россия, г.Ярославль, <br>ул. Чернопрудная, д.30




            // Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>> 
            footer.footer
                .items
                    .item
                        a.logo(href=""): img(src="./img/logo.png", alt="")
                        p: a(href="") Политика <br>конфиденциальнности
                        p: a(href="") Соглашение на обработку <br>персональных данных
                    ul.item
                        li: a(href="") Главная
                        li: a(href="") Цены
                        li: a(href="") О нас
                        li: a(href="") Отзывы
                    ul.item
                        li: a(href="") vkontakte
                        li: a(href="") viber
                        li: a(href="") instagram
                        li: a(href="") whatsapp
                    .item.contacts
                        p г. Ярославль, ул. Чернопрудная 30
                        p +7 (4852) 43-65-71
                        p betonmobil@yandex.ru
                        a.btn(href="#callback") Перезвонить мне



        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
        script(src="./js/script.js")           
            