html {
  box-sizing: border-box;
  font-size: clamp(6px, calc(6px + (10 - 6) * (100vw - 320px) / (1240 - 320)), 10px);
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

#popup {
  display: none;
  justify-content: center;
  align-items: center;
  background: #00000080;
  position: fixed;
  inset: 0;
  z-index: 111;
}

header > *, main > *, footer > * {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1240px;
}
@media screen and (max-width: 1240) {
  header > *, main > *, footer > * {
    max-width: 1040px;
  }
}
@media screen and (max-width: 1200px) {
  header > *, main > *, footer > * {
    max-width: 1000px;
  }
}
@media screen and (max-width: 992px) {
  header > *, main > *, footer > * {
    max-width: 792px;
  }
}
@media screen and (max-width: 768px) {
  header > *, main > *, footer > * {
    max-width: 568px;
  }
}
@media screen and (max-width: 576px) {
  header > *, main > *, footer > * {
    max-width: 476px;
  }
}
@media screen and (max-width: 480px) {
  header > *, main > *, footer > * {
    max-width: 420px;
  }
}
@media screen and (max-width: 375px) {
  header > *, main > *, footer > * {
    max-width: 345px;
  }
}
@media screen and (max-width: 320px) {
  header > *, main > *, footer > * {
    max-width: 300px;
  }
}